h1 {
    text-align: center;
    width: 50%;
    margin: auto;
}
.titre {
    width: 100%;
    margin-bottom:2vw;
}
.avisclient {
    width: 100%;
   text-align: center;
}
.imgclient {
    width: 25vw;
    display:inline-block;
    vertical-align: middle;
}
.textclient {
    display: inline-block;
    vertical-align: middle;
    width: 25vw;
    padding: 2vw;
    text-align: start;
}
.avis-client-content { 
    margin-top: 8vw;
    margin-bottom: 8vw;
}