<div class="titre">
    <h1>Nos clients parlent de nous !</h1>
</div>

<div class="avisclient">
    <div class="imgclient">
        <img src="../../../../assets/svg/photo-client.svg"/>
    </div>
    <div class="textclient card">Grâce aux prisme j’ai eu l’opportunité de rénover mon logement en bénéficiant des aides de l’état. De plus, leur accompagnement tout au long de la réalisation du chantier a permis de me Rassurer et de s’adapter à mes besoins.
        <h2> Etienne Philipe</h2>
        <span> Retraité</span>
    </div>
   
</div>