.forms {
    width: 60%;
    display: inline-block;
    vertical-align: middle;
}

.text {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.icons {
    width: 50%;
    display: inline-block;
    color: rgb(49, 170, 110);
}

.formsInput {
    height: 680px;
    width: 450px;
    margin: auto;
    margin-left: 25%;
}
.matform {
    width: 400px;margin: 0px;
}

.button {
    width: 400px;
    height: 55px;
    background-color:rgb(49, 170, 110);
}

h4 {
    margin: auto; font-weight: 600;  font-family:'Open Sans', sans-serif;font-size: 17px;
}

//MOBILE
@media only screen and (max-width: 500px) {
    .forms {
        width: 100%;
        display: flex;
    }

    .text {
        width: 100%;
    }

    .icons {
        width: 100%;
    }
    .formsInput {
        height: 570px;
        width: 100%;
        margin: auto;
        margin-left: 0px;
    }
    .matform {
        width: 80%;
        margin: 0px;
    }
    .button {
        width: 80%;
        height: 45px;
    }
    h4 {
        font-size: 15px;
    }
    
}