
<div class="content">
    <h1 style="font-weight: 300;"> Est ce que vous percevez un salaire  ?</h1>    
    <div style="text-align: center;display: flex;"> 
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> OUI </h2> 
        </div>
        &nbsp;&nbsp;
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> NON </h2> 
        </div>
    </div>

    
    <h1 style="font-weight: 300;"> Est ce que vous percevez des indemnités de chomage  ?</h1>    
    <div style="text-align: center;display: flex;"> 
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> OUI </h2> 
        </div>
        &nbsp;&nbsp;
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> NON </h2> 
        </div>
    </div>


    <h1 style="font-weight: 300;"> Est ce que vous percevez une retraite ?</h1>    
    <div style="text-align: center;display: flex;"> 
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> OUI </h2> 
        </div>
        &nbsp;&nbsp;
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> NON </h2> 
        </div>
    </div>

    <h1 style="font-weight: 300;"> Est ce que vous percevez une retraite complémentaire ?</h1>    
    <div style="text-align: center;display: flex;"> 
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> OUI </h2> 
        </div>
        &nbsp;&nbsp;
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> NON </h2> 
        </div>
    </div>

    <h1 style="font-weight: 300;"> Est ce que vous percevez une pension autre ?</h1>    
    <div style="text-align: center;display: flex;"> 
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> OUI </h2> 
        </div>
        &nbsp;&nbsp;
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> NON </h2> 
        </div>
    </div>


    <h1 style="font-weight: 300;">Organisme de pension</h1>    
    <mat-form-field appearance="outline">
        <mat-label> </mat-label>
        <input matInput type="text">
    </mat-form-field>

    <h1 style="font-weight: 300;"> Est ce que vous percevez le RSA ?</h1>    
    <div style="text-align: center;display: flex;"> 
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> OUI </h2> 
        </div>
        &nbsp;&nbsp;
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> NON </h2> 
        </div>
    </div>


    <h1 style="font-weight: 300;"> Est ce que vous percevez une allocation adulte handicapé ?</h1>    
    <div style="text-align: center;display: flex;"> 
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> OUI </h2> 
        </div>
        &nbsp;&nbsp;
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> NON </h2> 
        </div>
    </div>
    <h1 style="font-weight: 300;"> Percevez vous un autre type de rémunération ?</h1>    
    <div style="text-align: center;display: flex;"> 
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> OUI </h2> 
        </div>
        &nbsp;&nbsp;
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> NON </h2> 
        </div>
    </div>

    
</div>