
<div class="content">

    <div *ngIf="salaire">
        <h2 class="center"> Est ce que vous percevez un salaire ?</h2>
        <div class="button button-page" (click)="salairevalue='oui';changeview(1.5)">
            <h4> Oui </h4>
        </div> &nbsp;
        <div class="button button-page" (click)="salairevalue='non';changeview(1.1)">
            <h4> Non </h4>
        </div>
    </div>

    <div *ngIf="employeur">
        <h2 class="center"> Quel est votre employeur ?</h2>
        <mat-form-field appearance="outline">
            <mat-label> Nom employeur</mat-label>
            <input matInput type="text" [(ngModel)]="employeurvalue" (keyup.enter)="changeview(1)"
                [formControl]="employeurControl">
        </mat-form-field>
        <br>
        <div class="button" (click)="changeview(1)">
            <h4> Valider </h4>
        </div>
    </div>

    <div *ngIf="chommage">
       <h2 class="center"> Est ce que vous percevez des indemnités de chomage ? </h2>    
            <div class="button" (click)="chommagevalue='oui'; changeview(2)">
                <h4 > Oui </h4> 
            </div> 
            &nbsp;
        <div class="button" (click)="chommagevalue='non';changeview(2)">
                <h4 > Non </h4> 
        </div>
    </div>
        
    <div *ngIf="retraite">
   <h2 class="center"> Est ce que vous percevez une retraite ?</h2>    
        <div class="button" (click)="retraitevalue='oui';changeview(3.5)">
            <h4 > Oui </h4> 
        </div>
        &nbsp;
        <div class="button" (click)="retraitevalue='non';changeview(3.1)">
            <h4 > Non </h4> 
        </div>
    </div>

    <div *ngIf="organismeretraite">
       <h2 class="center">Quel est votre organisme de retraite ?</h2>    
        <mat-form-field appearance="outline">
            <mat-label>Organisme de retraite </mat-label>
            <input matInput type="text" [(ngModel)]="organismeretraitevalue"  (keyup.enter)="changeview(3)" [formControl]="retraiteControl">
        </mat-form-field>
        <br>
        <div class="button" (click)="changeview(3)">
            <h4 > Valider </h4>
        </div>
    </div>
        
    <div *ngIf="retraitecomplementaire">
       <h2 class="center"> Est ce que vous percevez une retraite complémentaire ?</h2>    
            <div class="button" (click)="retraitecomplementairevalue='oui';changeview(4.5)">
                <h4 > Oui </h4> 
            </div>
            &nbsp;
            <div class="button" (click)="retraitecomplementaire='non';changeview(4.1)">
                <h4 > Non </h4> 
            </div>
    </div>


    <div *ngIf="organismeretraitec">
       <h2 class="center">Quel est votre organisme de retraite complémentaire ?</h2>    
        <mat-form-field appearance="outline">
            <mat-label>Organisme de retraite complémentaire </mat-label>
            <input matInput type="text" [(ngModel)]="organismeretraitecvalue" (keyup.enter)="changeview(4)" [formControl]="retraitecControl">
        </mat-form-field>
        <br>
        <div class="button" (click)="changeview(4)">
            <h4 > Valider </h4>
        </div>
    </div>
        
    <div *ngIf="pension">
       <h2 class="center"> Est ce que vous percevez une pension autre ?</h2>    
            <div class="button" (click)="pensionvalue='oui'; changeview(5)">
                <h4 > Oui </h4> 
            </div>
            &nbsp;
            <div class="button" (click)="pensionvalue='non';changeview(6.1)">
                <h4 > Non </h4> 
            </div>
    </div>
        
    <div *ngIf="pensionorganisme">
       <h2 class="center">Organisme de pension</h2>    
        <mat-form-field appearance="outline">
            <mat-label>Organisme de pension </mat-label>
            <input matInput type="text" [(ngModel)]="pensionorganismevalue" (keyup.enter)="changeview(6)" [formControl]="pensionControl">
        </mat-form-field>
        <br>
        <div class="button" (click)="changeview(6)">
            <h4 > Valider </h4>
        </div>
    </div>
        
    <div *ngIf="rsa">
       <h2 class="center"> Est ce que vous percevez le RSA ?</h2>     
            <div class="button" (click)="rsavalue='oui';changeview(7)">
                <h4 > Oui </h4> 
            </div>
            &nbsp;
            <div class="button" (click)="rsavalue='non'; changeview(7)">
                <h4 > Non </h4> 
            </div>
    </div>
        
    <div *ngIf="allocAAH">
       <h2 class="center"> Est ce que vous percevez une allocation adulte handicapé ?</h2> 
            <div class="button" (click)="allocAAHvalue='oui';changeview(8)">
                <h4 > Oui </h4> 
            </div>
            &nbsp;
            <div class="button" (click)="allocAAHvalue='non' ; changeview(8)">
                <h4 > Non </h4> 
            </div>
    </div>

    <div *ngIf="autreremu">
       <h2 class="center"> Percevez vous un autre type de rémunération ?</h2>    
            <div class="button" (click)="autreremuvalue='oui'; changeview(9.5)">
                <h4 > Oui </h4> 
            </div>
            &nbsp;
            <div class="button" (click)="autreremuvalue='non' ; changeview(9.1)">
                <h4 > Non </h4> 
            </div>
    </div>

    <div *ngIf="autretype">
       <h2 class="center">Quel est cet autre type de rémunération ?</h2>    
        <mat-form-field appearance="outline">
            <mat-label> Autre type de rémunération</mat-label>
            <input matInput type="text" [(ngModel)]="autretypevalue" (keyup.enter)="changeview(9)" [formControl]="autreControl">
        </mat-form-field>
        <br>
        <div class="button" (click)="changeview(9)">
            <h4 > Valider </h4>
        </div>
    </div>

</div>

<!-- <div style="display:flex;justify-content:end" *ngIf="!mobile"> 
    <mat-progress-spinner
    [mode]="mode"
    [value]="value">
    </mat-progress-spinner> </div> -->