<app-gobackservice></app-gobackservice>

<div class="content">
    <div class="first">
        <h1>HelloDjo pour tous les <span style="font-weight: 700;">petits travaux</span></h1>
        <h4> Petites réparations dans son logement ?</h4>
        <div>Une prise à changer ? Une serrure à remplacer ? Un WC à changer ? Ne vous inquiétez pas, Djo vous trouve une solution pour vos petits travaux à réaliser à votre domicile.</div>
        <br>
        <div> Effectuez votre demande en ligne et notre Djo vous répondra dans les plus brefs délais</div>
    </div>
    <div class="first">
        <div>
            <img src="../../../assets/svg/hellodjoname.svg"/>
        </div>
        <div class="button">
            <h2 style="text-align: center;margin: auto;font-size: 1.2vw;">Contacter Djo</h2>
        </div>
    </div>
</div>