.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 1.2vw;
    font-weight: 400;
    animation: 1s linear blink_effect;
    font-family: 'Roboto', sans-serif;
    color:rgb(190, 187, 187);
    height: 4.5vw;
    background-color: #FFFFFF;
    z-index: 1000;
}
.navbar-logos {
  cursor: pointer;
  height: 2.2vw;
  margin: auto;
  margin-top: 2.05vw;
  width: 11vw;
  text-align: center;
  transition: transform 0.4s;
}
.active, .navbar-logos:hover {
    font-weight: 500;
    color:#377EFA;
    transform: translateY(2px);
    //border-bottom: solid 1px #01396A;
}
.navbar-logos:active {
  transform: translateY(2px);
}

.button {
  background-color:#377EFA;
  height: 3vw;
  margin: auto;
  width: 10vw;
  text-align: center;
}
.button:hover {
  transform: translateY(2px);
}
