<div class="navbar" *ngIf="!mobile">
    <h4 class="navbar_title">Le Prisme</h4>

    <div class="navbar-items" [ngClass]="current_path == '/home' ? 'active' : '' " (click)="navigateTo('home')">
        Accueil
    </div>

    <div class="navbar-items" [ngClass]="current_path == '/presentation' ? 'active' : '' " (click)="navigateTo('presentation')">
        Qui sommes-nous ?
    </div>

    <div class="navbar-items" [ngClass]="current_path == '/services' ? 'active' : '' " (click)="navigateTo('services')">
        Nos services
    </div>

    <div class="navbar-items" [ngClass]="current_path == '/plateforme' ? 'active' : '' " (click)="navigateTo('plateforme')">
        Faire une demande
    </div>
    <div style="width: 15%;"> </div>
    <div class="button" (click)="navigateTo('contacts')">
        <h4 class="button_text">Contactez-nous</h4>
    </div>
    
</div>

<div class="navbar" *ngIf="mobile">
    <h4 class="navbar_title">Le Prisme</h4>
</div>