:host {
    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 5px;
        .img {
            height: 50px;
            margin-top: -4px;
            cursor: pointer;
        }
        .button {
            width:160px; 
            height: 45px; 
        }
    }
}