@import '../../../styles.scss';

.navbar {
  display: flex;
  justify-content: space-around;
  font-size: 1.2vw;
  font-weight: 400;
  color:$greyprisme;
  height: 4.8vw;
  background-color: #FFFFFF;
  animation: 1s linear blink_effect;
  z-index: 1000;
}
.navbar_title {
  width: 15vw; 
  height: 2.2vw;
  margin: auto;
  margin-top: 2vw;
  width: 11vw;
  text-align: center;
  font-weight: 900;
  color:$blueprisme;
  font-size: 140%;
}
.button_text {
  width:100%;
  text-align: center;
  font-weight: 600;
}

.navbar-items {
  cursor: pointer;
  height: 2.2vw;
  margin: auto;
  margin-top: 2.05vw;
  width: 11vw;
  text-align: center;
  transition: transform 0.4s;
}
.active, .navbar-items:hover {
  font-weight: 500;
  color:$blueprisme;
  transform: translateY(2px);
}
.navbar-logos:active {
  transform: translateY(2px);
}
.button {
  background-color:$blueprisme;
  height: 3vw;
  margin: auto;
  width: 10vw;
  text-align: center;
}
.button:hover {
  transform: translateY(2px);
}
