:host {
    .footer {
        .values {
            display: flex;
            justify-content: space-between ;
            .value {
                width: 50%;
                padding-top: 10%;
                padding-left: 8%;
                .social-media {
                    padding-top: 12px;
                    i {
                        font-size: 17px;
                    }
                }
            }
        }
        .signature {
            text-align: center;
            padding-top: 20%;
            padding-bottom:8%;
        }
        h4 {
            margin:0px;
        }
    }
}