<div class="footer_content" style="height: 30vw;width: 100%;margin-top: 5vw;display: flex;align-items: center;">
    <div style="margin:auto; margin-top: 4vw;">
    <div style="display: inline-block;">
        <div style="width: 15vw; height: 2.2vw;
    font-weight: 900;
    color:white;
    font-size: 140%;
    margin-top:1vw">Le Prisme</div>

        <p style="color:white"> L'opérateur social. </p>
        <img class="socialnetwork_logos" src="../../../assets/svg/instagram-logo.svg" />
        <img class="socialnetwork_logos" src="../../../assets/svg/facebook-logo.svg" />
        <img class="socialnetwork_logos" src="../../../assets/svg/twitter-logo.svg" />
        <img class="socialnetwork_logos" src="../../../assets/svg/snapchat.svg" />
    </div>

    <div style="display: inline-block;vertical-align: top;margin-left: 6vw;">
        <h4 style="color:white">PRODUITS</h4>
        <p style="color:white"> Amélioration Habitat</p>
        <p style="color:white"> Adapter son logement</p>
        <p style="color:white"> HelloDjo</p>
    </div>
    
    <div style="display: inline-block;vertical-align: top; margin-left: 8vw">
        <h4 style="color:white">CONTACT</h4>
        <p style="color:white">0696 81 89 00</p>
        <p style="color:white"> contact@leprisme.fr </p>
    </div>

    <div style="display: inline-block;vertical-align: top; margin-left: 8vw">
        <h4 style="color:white">MENTIONS LEGALES</h4>
      
    </div>



</div>
</div>

<div style="width: 100%;text-align: center;color: white;background-color:#377EFA; ;">
    Site en cours de développement
       </div>
