<div class="footer">
<img src="../../../assets/svg/footer.svg"/>
</div>
<div style="position: relative;z-index: 800;margin-top: -13vw;color:white; margin-left:14vw">
<div style="display: inline-block;">
  <h2>Le Prisme</h2>
  <p> Opérateur social basé à Ducos en Martinique, le Prisme est spécialisé <br> dans l'accompagnement à la rénovation et à la réhabilitation de l'habitat</p>
   
    <p style="font-size: 140%;"> 0595 56 37 59</p>
</div>
    <div style="display: inline-block;vertical-align:top; margin-left: 5vw;margin-top: 3vw;">
        Adresse <br>
    Allé Hermann Litté<br>
     Ducos, Quartier Bac 97224<br>
     Martinique
    </div>
    <div style="display: inline-block;vertical-align:top; margin-left: 5vw;margin-top: 3vw;">
        Email <br>
contact@leprisme.fr
    </div>
    
</div>
