:host {
    .footer {
        .values {
            display: flex;
            justify-content: space-between ;
            .value {
                width: 50%;
                padding: 15% 2% 15% 9%;
            }
        }
        .signature {
            text-align: center;
            padding: 20%;
        }
    }
}