<div style="width:fit-content;position: relative;z-index: 800;margin:auto;color:#4B81A9;">
    <div class="element" style="display: inline-block;vertical-align:top;">
        <h4><i class="fa fa-map-marker" aria-hidden="true">&nbsp;</i>Adresse</h4>
        Allé Hermann Litté<br>
        Ducos, Quartier Bac 97224<br>
        Martinique
    </div>
    <div class="element" style="display: inline-block;vertical-align:top;">
        <h4><i class="fa fa-envelope-o" aria-hidden="true">&nbsp;</i>Email</h4>
        contact@leprisme.fr
    </div>
    <div class="element" style="display: inline-block;vertical-align:top;">
        <h4><i class="fa fa-phone" aria-hidden="true">&nbsp;</i>Téléphone</h4>
        0596 56 37 59
    </div>

    <div class="element" style="display: inline-block;vertical-align:top;">
        <h4>Mentions légales</h4>
    </div>
</div>