<div class="content black" *ngIf="accueil">
<div class="content-half">
<img  style="width:500px;" src="../../../assets/images/illustration-8.png">
</div>
<div class="content-half">
    
    <div class="text-plateforme">
        <br>
            <h1 style="font-size:60px">Plateforme de demande.</h1>
            <p>
                Pour effectuer une demande d'accompagnement
                 et de subventions, remplissez les informations demandées 
                 dans les différentes étapes du formulaire.
                </p>
                <div style="text-align:start;width:100%;">
                <div class="button color-10" (click)="accueil=false;">
                    <p>Suivant</p>
                </div>
            </div>
            </div>
</div>

</div>




<app-formulaire *ngIf="!accueil"></app-formulaire>