:host {
    .iframe {
        margin: 10px;
        padding: 0px;
        border: none;
        height: calc(90vh);
        width: 98%;
    }
    .plat{
        background:linear-gradient(#161C2D,#002680);
    }
}

