:host {
    .text-plateforme{
        padding: 7%;
    }
    .content {
        height: calc(93vh);
    }
    .button {
        width: 230px;
        height:50px;
        margin-left: 0px;
        margin-top: 25px;
        margin-bottom: 0px;
        p {
            padding-top:13px;
        }
    }
}

