:host {
    .iframe {
        margin: 10px;
        padding: 0px;
        border: none;
        height: calc(90vh);
        width: 98%;
        animation: 2.5s linear 0.2s upper forwards;
    }
    .plat{
        background:linear-gradient(#161C2D,#002680);
    }
    @keyframes upper {
        0% {  opacity: 0;}
        100%   {opacity: 1;}
      }
}

