<div class="shade-blue content">
    <div>
        <h3>Le Prisme</h3>
        <h1> Vivre dans un logement décent, c'est possible.</h1>
        <div> Assistant à Maîtrise d'Ouvrage.</div>
        <button class="button color-10" (click)="goToRequestView()">
            Se faire accompagner
        </button>    
        <div class="info">
            Maintenance du site mobile, uniquement <strong>la plateforme de demande</strong> reste disponible. Pour consulter l'intégralité du site web, merci de vous rendre sur un ordinateur.
        </div>
    </div>
    
</div>
