:host {
    .content {
        text-align: center;
        height: calc(100vh);
        display: flex;
        align-items: center;
        justify-content: center;
        .info {
            margin: 5%;
            font-size: 70%;
            position: absolute;
            bottom: 10%;
        }
    }

}