:host {
    .content {
        text-align: center;
        height: calc(95vh);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 5%;
        padding-right: 5%;
        .info {
            font-size: 70%;
            margin-top: 40%;
        }
    }
}