<div style="width: fit-content;margin: auto; height: 30vw;;">
    <mat-form-field appearance="outline" >
        <mat-label>Numéro de téléphone</mat-label>
        <input required matInput type="text" [(ngModel)]="telephone" [formControl]="phoneControl" (keyup.enter)="validateAnswers()" placeholder="XXXXXXXXXX">
    </mat-form-field>
    <br>
    
    <mat-form-field appearance="outline">
        <mat-label>Email </mat-label>
        <input required matInput type="text" [(ngModel)]="email" [formControl]="emailFormControl" (keyup.enter)="validateAnswers()">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Adresse postale </mat-label>
        <input required matInput type="text" [(ngModel)]="adresse" [formControl]="adressControl" (keyup.enter)="validateAnswers()">
    </mat-form-field>

    <div style="text-align: center;"> <div class="button"  (click)="validateAnswers()">      <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;">  Valider </h2> </div></div>
</div>