<h2 class="center">Vos coordonnées </h2>
<mat-form-field appearance="outline">
    <mat-label>Numéro de téléphone</mat-label>
    <input required matInput type="text" [(ngModel)]="telephone" [formControl]="phoneControl"
        (keyup.enter)="validateAnswers()" placeholder="XXXXXXXXXX">
</mat-form-field>
<br>

<mat-form-field appearance="outline">
    <mat-label>Email </mat-label>
    <input required matInput type="text" [(ngModel)]="email" [formControl]="emailFormControl"
        (keyup.enter)="validateAnswers()">
</mat-form-field>
<br>
<mat-form-field appearance="outline">
    <mat-label>Adresse postale </mat-label>
    <input required matInput type="text" [(ngModel)]="adresse" [formControl]="adressControl"
        (keyup.enter)="validateAnswers()">
</mat-form-field>

<div class="center">
    <div class="button button-page" (click)="validateAnswers()">
        <h4> Valider </h4>
    </div>
</div>