<br *ngIf="!mobile"><br *ngIf="!mobile"><br *ngIf="!mobile">
<br ><br >
<div class="block">
    <div style="display: inline-block;width: 8%;"><i class="fa fa-question-circle-o" aria-hidden="true"
            style="font-size:25px;color:rgb(49, 170, 110)"></i></div>


    <div style="display: inline-block;width: 90%; vertical-align: top;">
        <h4> Dois-je payer pour effectuer ma demande en ligne ? </h4>
        <div>  Effectuer votre demande en ligne est totalement gratuit <br> et cela ne vous prendra que quelques minutes.</div>
    </div>
</div>

<br *ngIf="mobile"> <br *ngIf="mobile"> <br *ngIf="mobile">
<div class="block">
    <div style="display: inline-block;width: 8%;"><i class="fa fa-question-circle-o" aria-hidden="true"
            style="font-size:25px;color:rgb(49, 170, 110)"></i></div>


    <div style="display: inline-block;width: 90%; vertical-align: top;">
        <h4> Comment vais-je être contacté ? </h4>
        <div>   Une fois votre demande effectuée vous serez contacté <br> dans moins de 48h  par une instructrice directement par téléphone.</div>
    </div>
</div>

<br><br><br>

<div class="block">
    <div style="display: inline-block;width: 8%;"><i class="fa fa-question-circle-o" aria-hidden="true"
            style="font-size:25px;color:rgb(49, 170, 110)"></i></div>


    <div style="display: inline-block;width: 90%; vertical-align: top;">
        <h4> Qui réalise les travaux ? </h4>
        <div> Nous collaborons avec de nombreux artisans qui se chargeront de réaliser vos travaux avec soin dans les meilleurs délais.</div>
    </div>
</div>
<br *ngIf="mobile"> <br *ngIf="mobile"> <br *ngIf="mobile">
<div class="block">
    <div style="display: inline-block;width: 8%;"><i class="fa fa-question-circle-o" aria-hidden="true"
            style="font-size:25px;color:rgb(49, 170, 110)"></i></div>


    <div style="display: inline-block;width: 90%; vertical-align: top;">
        <h4> Quand faire appel au Prisme ? </h4>
        <div> Pour se faire accompagner et subventionner lors de réalisation des travaux conséquents dans son lieu de vie. </div>
    </div>
</div>






<br *ngIf="!mobile"><br *ngIf="!mobile"><br *ngIf="!mobile"><br *ngIf="!mobile">


<br *ngIf="!mobile"><br *ngIf="!mobile"><br *ngIf="!mobile"><br *ngIf="!mobile">






<div style="width:100%;text-align:center;">



    <!-- <div style="display:inline-block;">
        <h1 style="margin: auto; margin-top: 3vw;font-weight: 500;"> Les avis de nos clients. </h1><br>

        <div> Quelques retours de nos clients après s'être fait accompagnés par Le Prisme</div>
    </div> -->

<!-- 
    <div style="display:inline-block;" *ngIf="!mobile">

        <br><br><br>
        <div style="width: 940px;display: flex;justify-content: space-between;">
            <div style="display: inline-block;margin-top: 100px;margin-right: 15px;">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"
                    style="color:#335EEA;font-size: 45px;cursor: pointer;"></i>
            </div>



            <div class="card" style="height: 300px;width: 900px;margin: auto;display: inline-block;overflow: hidden;">


                <div
                    style="height: 600px;width: 500px;border-radius: 50%;background-color: #aebfff;margin-top: -75px;margin-left: -85px;">
                </div>



            </div>
            <div style="display: inline-block;margin-top: 100px;cursor: pointer;margin-left: 15px;"><i
                    class="fa fa-arrow-circle-right" aria-hidden="true" style="color: #335EEA;font-size: 45px;"></i>
            </div>
        </div>


    </div> -->

<!-- 
    <div *ngIf="mobile">

        <br><br><br>
        <div style="width: 91%;display: flex;justify-content: space-between;margin: auto;">
            <div style="display: inline-block;margin-top: 280px;z-index: 800;position:absolute;margin-left: -19px;">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"
                    style="color:#335EEA;font-size: 45px;cursor: pointer;"></i>
            </div>



            <div class="card" style="height: 570px;width:100%;margin: auto;display: inline-block;overflow: hidden;">


                <div style="height: 40%;width: 100%;background-color: #aebfff;"></div>



            </div>
            <div
                style="display: inline-block;margin-top: 280px;cursor: pointer; z-index: 800;position:absolute;margin-left: 295px;">
                <i class="fa fa-arrow-circle-right" aria-hidden="true" style="color: #335EEA;font-size: 45px;"></i>
            </div>
        </div>


    </div>


 -->



 <div style="border-bottom: solid 1px rgb(187, 186, 186);"> </div><br><br><br>

    <br *ngIf="mobile"> <br *ngIf="mobile">


    <div style="width:100%;text-align:center;">
        <h1 style="margin: auto; margin-top: 3vw;font-weight: 500;" class="bold">Plus simplement.<br>

        </h1>
        <br>
        <div> Vous avez des travaux à effectuer ? Vous pouvez bénéficier de subventions <br *ngIf="!mobile"> en provenance de
            l'état. Nous nous occupons de tout. </div>
        <br><br *ngIf="mobile"> 
        <div class=" keywords-card" *ngIf="!mobile">
            <div style="height: 10vw;display: flex;justify-content: space-between;">
                <div style="display: block;text-align: center;margin:auto;width: 20%;">
                    <h4> <i class="fa fa-home iconkey" aria-hidden="true"></i> {{chantier}} foyers</h4>
                    <div *ngIf="visible"> suivis en 2020</div>
                </div>
                <div class="separator"></div>
                <div style="display: block;text-align: center;margin:auto;width: 20%;">
                    <h4><i class="fa fa-clock-o iconkey" aria-hidden="true"></i>
                        {{exp}} ans</h4>
                    <div *ngIf="visible"> d'expérience</div>
                </div>
                <div class="separator"></div>
                <div style="display: block;text-align: center;margin:auto;width: 20%;">
                    <h4> <i class="fa fa-check iconkey" aria-hidden="true"></i> Certifications</h4>
                    <div *ngIf="visible"> Handibat Qualibat</div>
                </div>
                <div class="separator"></div>
                <div style="display: block;text-align: center;margin:auto;width: 20%;">
                    <h4><i class="fa fa-flag iconkey" aria-hidden="true"></i> Partenaires</h4>
                    <div *ngIf="visible">reconnus par l'Etat</div>
                </div>
            </div>
        </div>

        <div class=" keywords-card" *ngIf="mobile">
            <div>
                <div style="display: block;text-align: center;margin:auto;width: 45%;display: inline-block;">
                    <h4> <i class="fa fa-home iconkey" aria-hidden="true"></i> {{chantier}} foyers</h4>
                    <div *ngIf="visible"> suivis en 2020</div>
                </div>
          
                <div style="display: block;text-align: center;margin:auto;width: 45%;display: inline-block;">
                    <h4><i class="fa fa-clock-o iconkey" aria-hidden="true"></i>
                        {{exp}} ans</h4>
                    <div *ngIf="visible"> d'expérience</div>
                </div>
     <br>   <br>   <br>   <br>
                <div style="display: block;text-align: center;margin:auto;width: 20%;width: 45%;display: inline-block;">
                    <h4> <i class="fa fa-check iconkey" aria-hidden="true"></i> Certifications</h4>
                    <div *ngIf="visible"> Handibat Qualibat</div>
                </div>
         
                <div style="display: block;text-align: center;margin:auto;width: 20%;width: 45%;display: inline-block;">
                    <h4><i class="fa fa-flag iconkey" aria-hidden="true"></i> Partenaires</h4>
                    <div *ngIf="visible">reconnus par l'Etat</div>
                </div>
            </div>
        </div>




        <div class="button" (click)="navigateTo('presentation')" *ngIf="!mobile">
            <h4 style="text-align: center;width: 100%;margin:auto;font-size: 15px;">Plus d'informations ?</h4>
        </div>
        <br *ngIf="mobile"> <br *ngIf="mobile"> <br *ngIf="mobile"> 
        <div class="button" (click)="navigateTo('presentation')" *ngIf="mobile">
            <h4 style="text-align: center;width: 100%;margin:auto;font-size: 15px;">Plus d'informations ?</h4>
        </div>
    </div>

<br>








    <br><br> <br *ngIf="!mobile"> <br *ngIf="!mobile"> <br *ngIf="!mobile"> <br *ngIf="!mobile">
    <div style="display: flex;justify-content: space-between; border-top: solid 1px rgb(187, 186, 186);" *ngIf="!mobile">
        <div>
            <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/deal.jpg" /> </div>
        </div>
        <div class="">
            <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/ctm.jpg" /> </div>
        </div>
        <div class="">
            <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/espacesud.jpg" /> </div>
        </div>
        <div class="">
            <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/cnracl.jpg" /> </div>
        </div>
        <br *ngIf="mobile">
        <br>
        <div class="">
            <div class="cardcontent"> <img class="partenairecaf" src="../../../assets/images/caf.jpg" /> </div>
        </div>
        <div class="">
            <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/ircom.jpg" /> </div>
        </div>
        <div class="">
            <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/ircantec.png" /> </div>
        </div>
        <div class="">
            <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/btpr.jpg" /> </div>
        </div>
        <br *ngIf="mobile">
        <br>
        <div class="">
            <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/cgss.png" /> </div>
        </div>
        <div class="">
            <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/actionlogement.jpg" /> </div>
        </div>
        <div class="">
            <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/mmph.jpg" /> </div>
        </div>
        <div class=""> </div>
        <br><br>
        <br>
    </div>





    <div style=" border-top: solid 1px rgb(187, 186, 186);" *ngIf="mobile">

            <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/deal.jpg" /> </div>
     
      
            <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/ctm.jpg" /> </div>
      
     
            <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/espacesud.jpg" /> </div>
    
  
            <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/cnracl.jpg" /> </div>
     

        <br *ngIf="mobile">
      
    
            <div class="cardcontent"> <img class="partenairecaf" src="../../../assets/images/caf.jpg" /> </div>
  
 
            <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/ircom.jpg" /> </div>
    

            <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/ircantec.png" /> </div>
 

            <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/btpr.jpg" /> </div>


        <br *ngIf="mobile">
        <br>
      
            <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/cgss.png" /> </div>
 
 
            <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/actionlogement.jpg" /> </div>
    

            <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/mmph.jpg" /> </div>
  
   
            <br *ngIf="!mobile"> <br *ngIf="!mobile">
        <br>
    </div>
</div>