<div class="content">
    <h1 style="font-weight: 300;"> Avez vous déjà perçu des aides pour des travaux antérieurs ?</h1>    
    <div style="text-align: center;display: flex;"> 
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> OUI </h2> 
        </div>
        &nbsp;&nbsp;
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> NON </h2> 
        </div>
    </div>


    <h1 style="font-weight: 300;"> Quel type de travaux souhaitez-vous faire ?</h1>    

       
  
    <mat-checkbox>Toiture</mat-checkbox>
    &nbsp;&nbsp;
    <mat-checkbox>Faux-plafond</mat-checkbox>
    <br>
    <mat-checkbox>Menuiseries</mat-checkbox>
    &nbsp;&nbsp;
    <mat-checkbox>Mise aux normes électrique</mat-checkbox>
    <br>
    <mat-checkbox>Adaptation salle d'eau</mat-checkbox>
    &nbsp;&nbsp;
    <mat-checkbox>Accessibilité logement</mat-checkbox>
    <br>
    <mat-checkbox>Fosse septique</mat-checkbox>
    &nbsp;&nbsp;
    <mat-checkbox>Renforcement para-sismique</mat-checkbox>
    <br>
    <mat-checkbox>Traitement anti-termites</mat-checkbox>
    &nbsp;&nbsp;
    <mat-checkbox>Désamiantage</mat-checkbox>
    <br>
    <mat-checkbox>Ventilation</mat-checkbox>
    &nbsp;&nbsp;
    <mat-checkbox>Autres</mat-checkbox>
    <br>
    <div class="button">
        <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> Valider </h2> 
    </div>

    
    <h1 style="font-weight: 300;"> Après les travaux, vous souhaitez habitez dans le logement où le mettre en location ?</h1>    
    <div style="text-align: center;display: flex;"> 
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> Habiter </h2> 
        </div>
        &nbsp;&nbsp;
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> Louer </h2> 
        </div>
    </div>
<br>


<h1 style="font-weight: 300;">Ajouter un commentaire si vous le souhaitez</h1>    
<mat-form-field appearance="outline">
    <mat-label>Commentaire </mat-label>
    <textarea matInput style="height:100px"></textarea>
  </mat-form-field>


    <div class="button">
        <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> Terminer </h2> 
    </div>
</div>