<div class="header">
    <h3 style="display: inline;margin-top: auto;margin-bottom: auto;color:white;">Le Prisme</h3> 
<div style="display: inline;">
    <img class="socialnetwork_logos" src="../../../assets/svg/marker.svg"/>
    <img class="socialnetwork_logos" style="width: 27vw;" src="../../../assets/svg/location.svg"/>
</div>
<div style="display: inline"> 
    <img class="socialnetwork_logos" src="../../../assets/svg/instagram-logo.svg"/>
    <img class="socialnetwork_logos" src="../../../assets/svg/twitter-logo.svg"/>
    <img class="socialnetwork_logos" src="../../../assets/svg/facebook-logo.svg"/>
</div>
<div style="display: inline;">
    <img class="socialnetwork_logos" src="../../../assets/svg/phone.svg"/>
    <img class="socialnetwork_logos"  style="width: 6vw;" src="../../../assets/svg/phone-number.svg"/>
</div>
</div>
