<div class="content grey">
    <br><br><br><br><br><br><br><br><br><br><br>
    <h2> N'hésitez pas à nous contacter.</h2>
    <p>Nous sommes là pour vous aider.</p>
</div>

<div class="content interview grey" style="height:calc(45vh)" >
    <div class="info-container">
        <div class="info">
            <div class="bold">TELEPHONE</div>
            <div>0596 56 37 59</div>
        </div>

        <div class="info">
            <div class="bold">EMAIL</div>
            <div>contact@leprisme.fr</div>
        </div>

        <div class="info">
            <div class="bold">ADRESSE</div>
            <div>Allée Hermann Litté<br>
                Quartier Bac, Ducos 97224<br>
                Martinique</div>
        </div>

        <div class="info">
            <div class="bold">HORAIRE</div>
            <div>Du lundi au vendredi<br>
                De 8h30 à 17h.</div>
        </div>
    </div>
<br><br><br>
    <div class="lineb"></div>
</div>






<div class="content grey">
    <h2 style="font-size:35px"> Envoyez-nous un message ! </h2>
    <p> Quelque soit votre problème, nous ferons de notre mieux pour le résoudre.</p>
<br><br>


    <mat-form-field appearance="outline" class="field" >
        <mat-label>Nom complet</mat-label>
        <input  matInput type="text" >
    </mat-form-field>   
 &nbsp;&nbsp; &nbsp;&nbsp;
    <mat-form-field appearance="outline" class="field" >
        <mat-label>Email</mat-label>
        <input  matInput type="text" >
    </mat-form-field>   
    <br>
    <mat-form-field appearance="outline" class="fieldtext">
        <mat-label>Votre message  </mat-label>
        <textarea matInput style="height:120px;resize: none;"></textarea>
    </mat-form-field>

    <br><br>
    <div class="button color-9">
        <div style="color:white;padding-top: 15px;">Envoyer un message </div>
      </div>
</div>



<div class="content grey interview" style="height:calc(20vh)">
</div>



