<div class="content black gradiant1 center bigplat">

    <div class="centre">
        <h1 style="margin-top:-70px;font-size:48px">N'hésitez pas à nous contacter !</h1>
   <br><br><br>
<div  style="display:flex;justify-content:space-between;width: 120%;margin-left: -7.3%;">
    
    <div>
 
        <h3 style="font-weight:600">
            <i class="fa fa-phone" aria-hidden="true" style="font-size:19px;margin-left:-13px;"></i> Téléphone
        </h3>
            0596 56 37 59
    </div>

    <div>
        <h3 style="font-weight:600;;margin-top: 17px;">
            <i class="fa fa-envelope" aria-hidden="true" style="font-size:17px;margin-left:-17px;"></i>&nbsp;  Email
        </h3>
            contact@leprisme.fr
    </div>

    <div>
        <h3 style="font-weight:600;margin-top: 20px;">
            <i class="fa fa-map-pin" aria-hidden="true" style="font-size:17px;margin-left:-13px;"></i>
            Adresse
        </h3>
            Quartier Bac<br>Ducos, Martinique <br> 97224
    </div>

    <div>
        <h3 style="font-weight:600;margin-top: 18px;">
            <i class="fa fa-clock-o" aria-hidden="true" style="font-size:17px;margin-left:-13px;"></i> 
            Horaires
        </h3>
            Du lundi au vendredi <br> de 8h à 17h.
    </div>
</div>

    </div>
    

</div>
