.info-container {
    color:black;
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-around;
  
        p {
            margin-bottom: 0px;
        }
    
}
:host {
    .bold {
        margin-bottom: 10px;
        font-weight: 300;
        line-height: 30px;
        
    }

    .field {
        width: 400px;
    }
    .fieldtext {
        width: 832px;
    }

    .button {
        height :50px;
        width: 200px;
        margin: auto;
    }
}