.content {
    width: fit-content;
    margin:auto;
    display: flex;
    justify-content: space-around;
    animation: 2s linear blink_effect;
    width: 90%;
}
.first {
    width:50%;
}
.first2 {
    width: 30vw;
}
h1 {
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-weight: 700;
}
h4 {
    color:#0458A0;
}
.button { 
    background-color: #377EFA;
    margin-top:1vw;
    margin-bottom:2vw;
    width: 25vw;
}
.step-text {
    display: inline-block;
    margin: 2vw;
}
h3 {
    color:#0458A0;
}