<app-gobackservice></app-gobackservice>

<div class="content">
    <div class="first">
        <h1>Adapter votre domicile à<span > vos besoins</span> avec l'AAH</h1>
        <h4> Logement adapté au vieillissement </h4>
            <div> L’Adaptation du logement au vieillissement constitue une véritable priorité de notre société. Il s’agit de permettre le maintien de l’autonomie et d’améliorer la sécurité par l’aménagement de l’espace de vie. </div>
        <h4> Opérateur social</h4>
            <div>Le Prisme est le 1er Opérateur Social à proposer un Accompagnement au cœur de l’Accessibilité, destiné aux Séniors . </div>
      <!-- <h4> Maîtrise d'ouvrage</h4>
            <div> Choisir le Prisme comme Assistant à Maître d’Ouvrage, c’est vous permettre de bénéficier d’AIDE(S) À L’ADAPTATION DU LOGEMENT DES SENIORS OU DES PERSONNES EN PERTE D’AUTONOMIE</div>
      --></div>
    <div class="first2">
        <div>
            <img src="../../../assets/svg/aahpicture.svg"/>
        </div>
        <div class="button">
            <h2 style="text-align: center;margin: auto;font-size: 1.2vw;">Tester son éligibilité à l'AAH</h2>
        </div>
    </div>
</div>
<!--
<h3>Exemple d'aides et de subventions :</h3>
<div class="card" style="width: fit-content;">
    <div class='step-text'>
        <h3>Action logement</h3>
        <div>
           Jusqu'à 4500 euros
        </div>
    </div>

    <div class='step-text'>
        <h3>CTM</h3>
        <div>
           Jusqu'à 5600 euros
        </div>
    </div>

    <div class='step-text'>
        <h3>CNRACL</h3>
        <div>
           Jusqu'à 15 000 euros
        </div>
    </div>

    <div class='step-text'>
        <h3>Sécurité sociale</h3>
        <div>
           Jusqu'à 3 500 euros
        </div>
    </div>
</div>
-->