<div style="display: inline-block;vertical-align: middle;margin-left: 1vw;">
    <img src="../../../assets/svg/back.svg" style="width:1vw"/>
</div>
<h3 style="display: inline-block;vertical-align: middle;margin-left: 1.5vw;color:#0465B2">
    Retour
</h3>

<div class="content">
    <div class="first">
        <h1>Adapter votre domicile à<span style="font-weight: 700;"> vos besoins</span> avec l'AAH</h1>
        <h4> Logement adapté au vieillissement </h4>
            <div> L’Adaptation du logement au vieillissement constitue une véritable priorité de notre société. Il s’agit de permettre le maintien de l’autonomie et d’améliorer la sécurité par l’aménagement de l’espace de vie. </div>
        <h4> Opérateur social</h4>
            <div>Le Prisme est le 1er Opérateur Social à proposer un Accompagnement au cœur de l’Accessibilité, destiné aux Séniors . </div>
      <!-- <h4> Maîtrise d'ouvrage</h4>
            <div> Choisir le Prisme comme Assistant à Maître d’Ouvrage, c’est vous permettre de bénéficier d’AIDE(S) À L’ADAPTATION DU LOGEMENT DES SENIORS OU DES PERSONNES EN PERTE D’AUTONOMIE</div>
      --></div>
    <div class="first">
        <div>
            <img src="../../../assets/svg/aahpicture.svg"/>
        </div>
        <div class="button">
            <h2 style="text-align: center;margin: auto;font-size: 1.2vw;">Tester son éligibilité à l'AAH</h2>
        </div>
    </div>
</div>