h1 {
    display: flex;
    font-size: 10vw;
    justify-content: center;
    margin:auto;
    animation: 5s linear blink_effect;
}
p {
    display: flex;
    justify-content: center;
    animation: 5s linear blink_effect;
}
.welcome_animation{
  margin-top:15%;
}
@keyframes blink_effect {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 1;
      }
    100% {
      opacity: 0;
    }
  }