h1 {
    font-size: 10vw;
    //font-family:'Times New Roman', Times, serif;
    animation: 4s linear welcome_effect;
    opacity: 0;
    margin:1vw;
    font-weight: 800;
}
p {
    font-size: 1.5vw;
  //  font-family:'Times New Roman', Times, serif;
    animation: 4s linear welcome_effect;
    opacity: 0;
    margin:0px;
}
.welcome_animation{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.img {
  animation: 4s linear welcome_effect;
}
@keyframes welcome_effect {
    0% {
      opacity: 0;
    }
    25% {
        opacity: 1;
      }
    50%{
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}


