


<div class="content"> 
  
  
   <img style="width: 100%;" src="../../.././../assets/images/acc5.webp">

</div>

<div class="content"> 
    <h1 style="color:black"> Le Prisme et son <span>histoire.</span> </h1>
  <br>
  <i class="fa fa-clock-o" aria-hidden="true" style="font-size: 20px;font-weight: 500;"></i> &nbsp;
  Le Prisme est une société qui a été créée en 1993 par Alain VILO. Jusqu'en 2012, notre activité principale concernait la rénovation et la construction de gros Oeuvre en Martinique.
<br><br><br *ngIf="mobile">
<i class="fa fa-trophy" aria-hidden="true" style="font-size: 20px;font-weight: 500;"></i>&nbsp;
   A la suite de cela, nous devenons Assistant à Maitrise d'Ouvrage après avoir obtenus les certifications délivrées par l'état.
<br><br><br *ngIf="mobile">
<i class="fa fa-handshake-o" aria-hidden="true" style="font-size: 20px;font-weight: 500;"></i>&nbsp;
Notre mission consiste donc à accompagner tous clients qui souhaitent effectuer des travaux dans son logement.
Si vous souhaitez nous rendre visite, nous sommes situés sur Ducos.


</div>




















<br><br><br>
<div style="border-bottom: solid 1px rgb(187, 186, 186);"> </div><br><br><br>