

<br><br><br><br><br><br>

<br><br>


<div style="width:50%;display: inline-block;"> 
  
  
   

</div>

<div style="width:50%;display: inline-block;"> 
    <h1> La société et son <span style="color: #377EFA">histoire.</span> </h1>
  <br>
  <i class="fa fa-clock-o" aria-hidden="true" style="font-size: 20px;font-weight: 500;"></i> &nbsp;
  Le Prisme est une société qui a été créée en 1996 par Alain VILO. Jusqu'en 2012, notre activité principale concernait la rénovation et la construction de gros Oeuvre en Martinique.
<br><br>
<i class="fa fa-trophy" aria-hidden="true" style="font-size: 20px;font-weight: 500;"></i>&nbsp;
   A la suite de cela, nous devenons Assistant à Maitrise d'Ouvrage après avoir obtenus les certifications délivrées par l'état.
<br><br> 
<i class="fa fa-handshake-o" aria-hidden="true" style="font-size: 20px;font-weight: 500;"></i>&nbsp;
Notre mission consiste donc à accompagner tous clients qui souhaitent effectuer des travaux dans son logement.
Si vous souhaitez nous rendre visite, nous sommes situés sur Ducos.


</div>

















<br><br><br><br><br><br>
<br><br><br><br><br><br>
<div style="border-bottom: solid 1px rgb(187, 186, 186);"> </div><br>
<div style="text-align:center">

<h1 style="color:#377EFA">Pourquoi nous choisir ? </h1>
<br>
Le Prisme, c'est 30 ans d'expérience dans la construction et la rénovation. Avant d'être AMO, nous étions Maitre d'Oeuvre ce qui nous permet de bénéficier de contacts pour faire valider vos financements ainsi que pour la réalisation de vos travaux.
<br><br> Nous sommes agréés par l'Etat depuis 2010 par les certifications Handibat et Qualibat.
</div>
<br><br>
<div style="text-align:center"> 
<div class="button" style="width:200px;background-color:#335EEA;"><h4 style="text-align: center;width: 100%;margin:auto;font-size: 17px;">Voir nos services</h4></div>
</div>