h1 {
    padding-bottom: 2vw;
    margin-right: 20%;
}
.presentation {
    width: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    animation: 0.5s linear button-effect;
}
.definition-text {
    text-align: start;
    width:55%;
    margin: auto;
}
.definition-image {
    width: 90%;
    margin: auto;
}