i {
    color: #945436;
    font-size: 15px;
}

.content {
    width:50%;
    display: inline-block;
    margin-top: -65px;
    vertical-align: middle;
}
.bitt {
    width:200px;background-color:#335EEA;
}
.bibit {
    text-align: center;width: 100%;margin:auto;font-size: 15px;
}

@media only screen and (max-width: 500px) {
    .content {
        width: 100%;
    }

}