<div style="margin-top: 1vw;">
    <div class="presentation" *ngIf="visible">
        <div class="definition-text">
            <h1>Pourquoi nous choisir en tant qu' <span style="font-weight: 600;color: #377EFA;">A M O</span> ?</h1>
            <div> En tant que propriétaire bailleur ou propriétaire
                occupant vous pouvez bénéficier de subventions selon
                vos projets.
                <br> <br>
                Pour y avoir droit, vous avez pour obligation de vous
                faire accompagner par un Assistant à Maitrise d'Ouvrage.
                <br> <br>
                Depuis 2010, l'Etat nous a donc agréé en tant qu’AMO pour vous permettre d'avoir accès aux différentes aides tout en profitant d'un accompagnement de qualité.
            </div>
        </div>
    </div>
    <div class="presentation2" *ngIf="visible" style="margin-bottom: 8vw;">
        <div class="definition-image">
            <img src="../../../../assets/svg/definition-image.svg" />
        </div>
    </div>
</div>