.vignette-container {
    display: flex;
    justify-content: space-around;
    width: 60vw;
}
.vignette {
    height: 12vw;
    width: 100%;
    margin : 0.5%;
}
.text-content {
    margin: 6%;
}
.description {
    font-size: 1vw;
}
h5 {
    font-size: 1vw;
}
