<div class="vignette-container">
    <div class="vignette card">
        <div class="text-content">
            <h5>Problème n°1</h5>
            <p class="description">Lorei Ipsum à remplacer par de vraies questions ou des mots clés</p>
        </div> 
    </div>
    <div class="vignette card">
        <div class="text-content">
            <h5>Problème n°2</h5>
            <p class="description">Lorei Ipsum à remplacer par de vraies questions ou des mots clés</p>
        </div>
    </div>
    <div class="vignette card">
        <div class="text-content">
            <h5>Problème n°3</h5>
            <p class="description">Lorei Ipsum à remplacer par de vraies questions ou des mots clés</p>
        </div>
    </div>
</div>