<div style="text-align: center;  animation: 1s linear definition-effect ">
<div style="display: inline-block; text-align: start;margin-right: 5vw;">
    <h1 style="color: #004ca3;;"> A qui faire appel <br><span style="font-weight: 700;"> pour financer</span> vos projets ?</h1>
    <p> En choissisant de vous faire accompagner par Le Prisme, <br> vous pouvez bénéficiez d'aides et de subventions des organismes suivants :</p>
</div>

<div class="cards">
    <div class="card"><div class="cardcontent"> <img class="partenaires" src="../../../assets/images/deal.jpg"/> </div></div>
    <div class="card"><div class="cardcontent"> <img class="partenaires" src="../../../assets/images/ctm.jpg"/>  </div></div>
    <div class="card"><div class="cardcontent"> <img class="partenaires" src="../../../assets/images/espacesud.jpg"/>  </div> </div>
    <div class="card"><div class="cardcontent"> <img class="partenaires" src="../../../assets/images/cnracl.jpg"/>  </div> </div>
    <br>
    <div class="card"> <div class="cardcontent"> <img class="partenairecaf" src="../../../assets/images/caf.jpg"/>  </div></div>
    <div class="card"><div class="cardcontent"> <img class="partenaires" src="../../../assets/images/ircom.jpg"/>  </div> </div>
    <div class="card"> <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/ircantec.png"/>  </div></div>
    <div class="card"><div class="cardcontent"> <img class="partenaires" src="../../../assets/images/btpr.jpg"/>  </div> </div>
    <br>
    <div class="card"> <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/cgss.png"/>  </div></div>
    <div class="card"> <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/actionlogement.jpg"/>  </div></div>
    <div class="card"> <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/mmph.jpg"/>  </div></div>
    <div class="card"> </div>
</div>
</div>