.card {
    height:10vw;
    width:10vw;
    display: inline-block;
    margin:0.3vw;
    text-align: center;
    background-color: white;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
}

.cards {
    text-align: center;
    opacity: 1;
    vertical-align: top;
    padding: 1vw;
    margin-bottom: 5vw;
    display: inline-block;
}
.cardcontent {
    display:table;
    margin:auto;
}

.partenaires {
position:relative;
vertical-align:middle;
display: table-cell;
margin-top:21%;
height: 7vw;
}
.partenairecaf {
    margin-top: 43%;
    height : 6vw;
}
