<div class="cards">
    <div class="card"><div class="cardcontent"> <img class="partenaires" src="../../../assets/images/deal.jpg"/> </div></div>
    <div class="card"><div class="cardcontent"> <img class="partenaires" src="../../../assets/images/ctm.jpg"/>  </div></div>
    <div class="card"><div class="cardcontent"> <img class="partenaires" src="../../../assets/images/espacesud.jpg"/>  </div> </div>
    <div class="card"><div class="cardcontent"> <img class="partenaires" src="../../../assets/images/cnracl.jpg"/>  </div> </div>
    <br>
    <div class="card"> <div class="cardcontent"> <img class="partenairecaf" src="../../../assets/images/caf.jpg"/>  </div></div>
    <div class="card"><div class="cardcontent"> <img class="partenaires" src="../../../assets/images/ircom.jpg"/>  </div> </div>
    <div class="card"> <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/ircantec.png"/>  </div></div>
    <div class="card"><div class="cardcontent"> <img class="partenaires" src="../../../assets/images/btpr.jpg"/>  </div> </div>
    <br>
    <div class="card"> <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/cgss.png"/>  </div></div>
    <div class="card"> <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/actionlogement.jpg"/>  </div></div>
    <div class="card"> <div class="cardcontent"> <img class="partenaires" src="../../../assets/images/mmph.jpg"/>  </div></div>
    <div class="card"> </div>
</div>