.content {
    text-align: center;
}
.button {
    width: 20vw;
    margin:1vw;
}
.blue-button {
    background-color: #377EFA;
    color:white;
}
.orange-button {
    background-color: #FF8B1F;
    color:white;
}
.button:hover {
   transform: translateY(-4px);
}