<div class="content">
    

    
    
    <h1 style="margin-top: 0vw;">Contactez le
        <span style="font-weight: 700">bon interlocuteur</span> et<br>
        faites nous part de vos projets !
    </h1>

    <div class="button blue-button" (click)="navigateTo('chatbox.html')">
        <h2 style="margin: auto;font-size: 1.2vw;"> Tester son éligibilité aux aides </h2>
    </div>

    <div class="button orange-button" (click)="navigateTo('https://www.hellodjo.fr/')">
        <h2 style="margin: auto;font-size: 1.2vw;"> Contacter Djo pour petits travaux</h2>
    </div>



    
    <h1 style="margin-top: 1vw;margin-bottom: 1vw;margin-top: 8vw;">Nos coordonnées</h1>
        
    <div class="card" style="width: fit-content;margin: auto;height: 11vw;">
    <div class="coordonees">
    <h2><i class="fa fa-envelope-o" aria-hidden="true"></i> Email</h2>
    contact@leprisme.fr
    </div>

    <div class="coordonees">
        <h2> <i class="fa fa-phone" aria-hidden="true"></i> Téléphone</h2>
        0595 56 37 59
    </div>

    <div class="coordonees">
        <h2><i class="fa fa-map-marker" aria-hidden="true"></i> Adresse</h2>
        Allée Hermann Litté <br>
        Quartier Bac Ducos 97224 <br>
        Martinique
    </div>
</div>
  


    <h1 style="margin-top: 8vw;"> Nous envoyer un message !</h1>
    <div class="button lightblue-button">
        <h2 style="margin: auto;font-size: 1.2vw;"> Envoyer un message </h2>
    </div>


    <div style="height: 5vw;"></div>
</div>