@import '../../../styles.scss';

.content {
    text-align: center;
    margin-top:120px;
}
h1 {
    font-size: 40px;
}
h4 {
    margin: 0px;
    font-size: 14px;
    color : #335EEA;
}
.info {
    display: flex;
    justify-content: space-around;
}
h2 {
    font-weight: 500;
}
.navbar_title {
    width: 15vw; 
    height: 2.2vw;
    margin-top: 1.5vw;
    color:$blueprisme;
    font-size: 150%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
.field {
    width: 400px;
}
.fieldtext {
    width: 832px;
}
  @media only screen and (max-width: 500px) {
    .info {
     display:block;
    }
    .values {
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }
    .field {
        width: 100%;
    }
    .fieldtext {
        width: 100%;
    }
}