<div class="content">
    <br *ngIf="mobile"> <br *ngIf="mobile"> 
    <h1> N'hésitez pas à nous contacter.</h1>
    <div> Nous sommes là pour vous aider.</div>

    <br><br><br><br><br><br><br><br><br>

    <div class="info" *ngIf="!mobile">
        <div class="values">
            <h4> TELEPHONE </h4>
            <span class="value">
                0596 56 37 59
            </span>
        </div>
        <div class="values">
            <h4> EMAIL </h4>
            <span class="value">
                contact@leprisme.fr
            </span>
        </div>
        <div class="values">
            <h4> ADRESSE </h4>
            <span class="value">
                Allée Hermann Litté <br>
                Quartier Bac, Ducos 97224 <br>
                Martinique
            </span>
        </div>
        <div class="values">
            <h4> HORAIRE </h4>
            <span class="value">
                Du lundi au vendredi <br>
                De 8h30 à 17h.
            </span>
        </div>
    </div>



<!--MOBILE-->

<div class="infos" *ngIf="mobile">
    <div class="values">
        <h4> TELEPHONE </h4>
        <span class="value">
            0596 56 37 59
        </span>
    </div>
    <div class="values">
        <h4> EMAIL </h4>
        <span class="value">
            contact@leprisme.fr
        </span>
    </div>
    <br><br><br><br>
    <div class="values">
        <h4> ADRESSE </h4>
        <span class="value">
            Allée Hermann Litté <br>
            Quartier Bac, Ducos 97224 <br>
            Martinique
        </span>
    </div>
    <div class="values">
        <h4> HORAIRE </h4>
        <span class="value">
            Du lundi au vendredi <br>
            De 8h30 à 17h.
        </span>
    </div>
</div>





    <br><br><br>
    <div style="border-bottom: solid 1px rgb(187, 186, 186);"> </div>

    <br><br><br>

    <h2>Envoyez-nous un message directement ! </h2>

    <div class="textmessage">
        Quelque soit votre problème, nous ferons de notre mieux pour le résoudre <br> le plus rapidement que possible.
    </div>
<br><br><br>

    <mat-form-field appearance="outline" class="field" >
        <mat-label>Nom complet</mat-label>
        <input  matInput type="text" >
    </mat-form-field>   
 &nbsp;&nbsp; &nbsp;&nbsp;
    <mat-form-field appearance="outline" class="field" >
        <mat-label>Email</mat-label>
        <input  matInput type="text" >
    </mat-form-field>   
    <br>
    <mat-form-field appearance="outline" class="fieldtext">
        <mat-label>Votre message  </mat-label>
        <textarea matInput style="height:120px;resize: none;"></textarea>
    </mat-form-field>

    <br>  <br>


    <div class="button" style="width: 200px;"><h4 style="text-align: center;width: 100%;margin:auto;font-size: 15px;color:white">Envoyer un message</h4></div>

    <br><br><br>

</div>