:host {
    .accompagnement-button {
        .button {
            margin: auto;
            height: 50px;
            width: 220px;

            p {
                padding-top: 15px;
            }
        }
    }

    .img-container {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 85%;
    }

    .img-block {
        height: 450px;
        .card {
            background-color: white;
        }
    }
    .titre {
    font-weight: 800;
     font-size: 20px;   
   
    }
    .blue {
        background: -webkit-linear-gradient(#0d1938, #072a7c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .img {
        img {
            border-radius: 5%;
            height: 450px;
            width: 32%;
        }
    }
}