<div class="content black gradiant1 center">
    <h1> L'histoire du Prisme</h1>
</div>


<div class="content gray">
    <br><br><br><br><br><br><br><br><br><br>
    <h1 style="margin-top: 0px;margin-bottom: -5px;"> 1993</h1>
    <p> Alain VILO créa la société Le Prisme
        ayant pour objet la Rénovation <br> de Bâtiments en Martinique et Guadeloupe.</p>
    <div>MAITRISE D'OEUVRE</div>
</div>



<div class="content gray">
    <br><br><br><br><br><br><br><br><br><br>
    <h1 style="margin-top: 0px;margin-bottom: -5px;"> 2012 </h1>
    <p>Le métier du Prisme évolua vers celui d’Assistant à Maitrise d’Ouvrage spécialisé <br>
     dans le domaine de la Rénovation de l’Habitat. Obtention des certifications Handibat &
      Qualibat.
    </p>
    <div>ASSITANT A MAITRISE D'OUVRAGE </div>
</div>

<div class="content gray">
    <br><br><br><br><br><br><br><br><br><br>
    <h1 style="margin-top: 0px;margin-bottom: -5px;"> 2017</h1>

    <p>Enrichie d’une expérience de terrain, l’Entreprise obtint l’agrément de l’Etat <br>
        en tant qu’Opérateur Social dans le cadre du dispositif de l’Aide à L’Amélioration de 
        l’Habitat.
    </p>
    <div>OPERATEUR SOCIAL </div>
</div>


<div class="content gray">
    <br><br><br><br><br><br><br><br><br><br>
    <h1 style="margin-top: 0px;margin-bottom: -5px;">2022</h1>
    <p>
        Notre mission consiste ce jour à accompagner socialement, financierement et
         techniquement <br> toute personne souhaitant effectuer des travaux dans son logement.
    </p>
</div>


<div class="content black gradiant-1" style="height:calc(160vh)">
    <br><br>
    <h1 style="font-size:45px;font-weight:600;"> Découvrez notre équipe</h1>
    <p> Nous oeuvrons au mieux pour que vos soyez totalement satisfait par nos services.<br></p>
    <br><br>
    <div class="img-container">
        <div class="img-block card" style="width:34%;background-color: white;"></div>
        <div class="img-block" style="width:27%">
            <div class="card" style="height:55%;"></div>
            <div style="height:5%"></div>
            <div class="card" style="height:40%;"></div>
        </div>
        <div class="img-block" style="width:35%">
            <div class="card" style="height:30%;width:40%; display: inline-block;"></div>
            <div style="width:5%;display: inline-block;"></div>
            <div class="card" style="height:30%;width:55%; display: inline-block;"></div>
            <div style="height:5%"></div>
            <div class="card" style="height:65%;"></div>
        </div>
    </div>

    <br><br><br><br>

    <div class="accompagnement-button">
        <div class="button color-9" (click)="navigate('/accompagnement')">
            <p>Voir nos services</p>
        </div>
    </div>
</div>