:host {
    .text-histoire {
       padding: 10%;
       padding-left: 20%;
       color:black;
    }

    .chrono-container {
        margin:auto;
        width:80%;
        display: flex;
        justify-content: space-between;
        .chrono-step {
            width : 30%;
            text-align: start;
        }
    }
    .accompagnement-button{
        .button {
            margin:auto;
            height: 50px;
            width: 220px;
            p{
                padding-top: 15px;
            }
        }
    }

}