<div class="content grey">
<div class="content-half"> 
    <div class="text-histoire">
        <h1 style="font-size:55px"> L'histoire du <br>Prisme</h1>
        <p>  En 1993, Alain VILO créa la société Le Prisme, 
            ayant<br> pour objet la Rénovation de Bâtiments en Martinique et Guadeloupe.</p>
    </div>

</div>
<div class="content-half" style="text-align:center;vertical-align: top;padding-top:4%">
    <div class="card" style="height:400px;width:400px;border-radius:50%;border:solid 0.1px #161C2D;background-color:#161C2D;margin: auto;background:linear-gradient(#161C2D,#011543)">
        <br><br><br><br><br>
        <div class="titreMaj" style="color:white;font-size: 9px;">DEPUIS</div>
        <h1 class="startnum" style="font-size:140px;margin-top: 0px;"> 1993</h1>
     </div> 

</div>
<i class="fa fa-arrow-down" (click)="scroll()" style="color:#161C2D;font-size:32px;cursor:pointer;margin-top:-5px " aria-hidden="true"></i>

</div>
<!-- 


<div class="content grey">

    <div class="chrono-container">
        <div class="chrono-step">
        
                 <h1 style="text-align:center;margin-bottom: -5px;color:#161C2D"> 2012</h1>
    
            <p>Enrichie d’une expérience de terrain, l’Entreprise obtint l’agrément de l’Etat en tant qu’Opérateur Social dans le cadre du dispositif de l’Aide à L’Amélioration de l’Habitat, AAH.
            </p>
        </div>
          <div class="chrono-step">
           
            <h1  style="text-align:center;margin-bottom: -5px;color:161C2D"> 2017</h1>
        
            <p>Le métier du Prisme évolua vers celui d’Assistant à Maitrise d’Ouvrage spécialisé dans le domaine de la Rénovation de l’Habitat.
            </p>
           
        </div>
        <div class="chrono-step">
           
                <h1  style="text-align:center;margin-bottom: -5px;color:#161C2D">2022</h1>
            
                <p>
                    Notre mission consiste ce jour à accompagner toute personne souhaitant effectuer des travaux dans son logement.
                </p>
            
      
        </div>
    </div>
</div> -->


<div class="content gray">
    <br><br>  <br><br>  <br><br>  <br>
   
    <h1 style="text-align:center;margin-bottom: -5px;color:161C2D;font-size: 80px;"> 2012 </h1>
    
    <p>Le métier du Prisme évolua vers celui d’Assistant à Maitrise d’Ouvrage spécialisé <br> dans le domaine de la Rénovation de l’Habitat. Obtention des certifications Handibat & Qualibat.
    </p>
    <div class="titreMaj">ASSITANT A MAITRISE D'OUVRAGE </div>
 
</div>

<div class="content gray">
    <br><br><br><br>  
    
    <h1  style="text-align:center;margin-bottom: -5px;color:161C2D;font-size: 100px;"> 2017</h1>
    
    <p>Enrichie d’une expérience de terrain, l’Entreprise obtint l’agrément de l’Etat <br> 
        en tant qu’Opérateur Social dans le cadre du dispositif de l’Aide à L’Amélioration de l’Habitat.
    </p>
    <div class="titreMaj">OPERATEUR SOCIAL </div>
</div>


<div class="content black">
    <br><br>
    <h1  style="text-align:center;margin-bottom: -5px;">2022</h1>
    
    <p>
        Notre mission consiste ce jour à accompagner toute personne <br> 
        souhaitant effectuer des travaux dans son logement.
    </p>
</div>






<div class="content black" style="height:calc(180vh)">
    <br><br><br><br><br><br>
    <h2 style="font-size:55px"> Découvrez notre équipe</h2>
    <p> We created an easy-to-use set of components for building startup sites and apps.<br></p>
   <br><br>
    <div class="img-container">
        <div class="img-block card" style="width:34%;background-color: white;">

        </div>
        <div class="img-block" style="width:27%">
            <div class="card" style="height:55%;background-color: white;">
            </div>
<div style="height:5%"> </div>
            <div  class="card" style="height:40%;background-color: white;">
            </div>
        </div>
        <div class="img-block" style="width:35%">
            <div  class="card" style="height:30%;width:40%;background-color: white;display: inline-block;">
            </div>

            <div style="width:5%;display: inline-block;"> </div>
            <div  class="card" style="height:30%;width:55%;background-color: white;display: inline-block;">
            </div>
            <div style="height:5%"> </div>
            <div  class="card" style="height:65%;background-color: white;">
            </div>
            
        </div>

    </div>



<br><br><br><br><br>

        <div class="accompagnement-button">
            <div class="button color-9" (click)="navigate('/accompagnement')">
                <p>Voir nos services</p>
            </div>
         </div>

</div>



