.keywords-card{
    margin: auto;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 1vw;
    margin-bottom: 3vw;
    animation: 2s linear definition-effect;
}
h3 {
    font-weight: 600;
    color: #0558a0;
}
.separator {
    width: 0.01vw;
    height: 2.1vw;
    background-color: white;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
}