<div class="card keywords-card">
    <div style="height: 10vw;display: flex;justify-content: space-around;">
        <div style="display: block;text-align: center;margin:auto;">
            <h3> 95 chantiers</h3>
            <div> suivis en 2020</div>
        </div>
        <div style="display: block;text-align: center;margin:auto;">
            <h3> 95 chantiers</h3>
            <div> suivis en 2020</div>
        </div>
        <div style="display: block;text-align: center;margin:auto;">
            <h3> 95 chantiers</h3>
            <div> suivis en 2020</div>
        </div>
        <div style="display: block;text-align: center;margin:auto;">
            <h3> 95 chantiers</h3>
            <div> suivis en 2020</div>
        </div>
    </div>
</div>