<div style="height: 27vw;">
    <h1 style="width:30vw; text-align: center; margin: auto; margin-top: 6vw;font-weight: 500;"> Nos informations clées
    </h1>
    <div class="card keywords-card">
        <div style="height: 10vw;display: flex;justify-content: space-around;">
            <div style="display: block;text-align: center;margin:auto;">
                <h3> {{chantier}} foyers</h3>
                <div *ngIf="visible"> suivis en 2020</div>
            </div>
            <div class="separator"></div>
            <div style="display: block;text-align: center;margin:auto;">
                <h3> {{exp}} ans</h3>
                <div *ngIf="visible"> d'expérience</div>
            </div>
            <div class="separator"></div>
            <div style="display: block;text-align: center;margin:auto;">
                <h3> Certifications</h3>
                <div *ngIf="visible"> Handibat Qualibat</div>
            </div>
            <div class="separator"></div>
            <div style="display: block;text-align: center;margin:auto;">
                <h3> Partenaires</h3>
                <div *ngIf="visible">reconnus par l'Etat</div>
            </div>
        </div>
    </div>
</div>