.logo-container{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}
.logos {
    padding: 1vw;
}
.step-text {
    width: 33%;
    text-align: center;
}
h1 {
    text-align: center;
    width: 50%;
    margin: auto;
}
h4 {
    font-size: 1.2vw;
    color:#0558a0;
}
.titre {
    width: 100%;
    margin-top:5vw;
    margin-bottom: 5vw;
}
.steptext-container {
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: auto;
}
.img-container {
    width: 9vw;
    height: 9vw;
}
.roundliaison-container {
    width: 3.5vw;
    height: 3.5vw;
    margin-top: 3vw;
}
.liaison-container {
    width: 18vw;
    height: 4vw;
    margin-top:3.3vw;
}