<div class="titre">
    <h1> Comment nous vous accompagnons durant vos rénovations</h1>
</div>

<div class='logo-container'>
    <img class="logos" src="../../../../assets/svg/dispositifs-logo.svg" />
    <img class="logos" src="../../../../assets/svg/step-roundliaison-logo.svg" />
    <img class="logos" src="../../../../assets/svg/step-liaison-logo.svg" />
    <img class="logos" src="../../../../assets/svg/step-roundliaison-logo.svg" />
    <img class="logos" src="../../../../assets/svg/eligibilite-logo.svg" />
    <img class="logos" src="../../../../assets/svg/step-roundliaison-logo.svg" />
    <img class="logos" src="../../../../assets/svg/step-liaison-logo.svg" />
    <img class="logos" src="../../../../assets/svg/step-roundliaison-logo.svg" />
    <img class="logos" src="../../../../assets/svg/rdv-logo.svg" />
</div>

<div class='logo-container'>
    <div class='step-text'>
        <h4>1. Consultez nos dispositifs</h4>
        <div>
            Identifiez le services qui vous convient le mieux
        </div>
    </div>
    <div class='step-text'>
        <h4>2. Testez votre éligibilité</h4>
        <div>
            Evaluez votre éligibilité au près de nos partenaires financeurs
        </div>
    </div>
    <div class='step-text'>
        <h4>3. Prenez votre RDV</h4>
        <div>
            Prenez rendez-vous avec un de nos conseillers afin d'évaluer votre projet et démarrer les travaux
        </div>
    </div>
</div>