<div style="height: calc(80vh);">
    <div class="titre">
        <h1> Comment débuter <span style="font-weight: 600;color:#377EFA">l'accompagnement </span>de vos projets et
            bénéficier d'aides ? </h1>
    </div>

    <div class='logo-container'>
        <div class="img-container"><img class="logos" src="../../../../assets/svg/dispositifs-logo.svg" /></div>


        <div class="roundliaison-container"><img class="logos"
                src="../../../../assets/svg/step-roundliaison-logo.svg" /></div>
        <div class="liaison-container"><img class="logos" src="../../../../assets/svg/step-liaison-logo.svg" /></div>
        <div class="roundliaison-container"><img class="logos"
                src="../../../../assets/svg/step-roundliaison-logo.svg" /></div>


        <div class="img-container"><img class="logos" src="../../../../assets/svg/eligibilite-logo.svg" /></div>

        <div class="roundliaison-container"><img class="logos"
                src="../../../../assets/svg/step-roundliaison-logo.svg" /></div>
        <div class="liaison-container"><img class="logos" src="../../../../assets/svg/step-liaison-logo.svg" /></div>
        <div class="roundliaison-container"><img class="logos"
                src="../../../../assets/svg/step-roundliaison-logo.svg" /></div>

        <div style="height: 8vw;width: 8vw;"><img class="logos" src="../../../../assets/svg/rdv-logo.svg" /></div>


    </div>

    <div class='steptext-container'>
        <div class='step-text'>
            <h4>1. Consultez nos services</h4>
            <div>
                Identifiez le services <br>qui vous convient le mieux
            </div>
        </div>
        <div class='step-text'>
            <h4>2. Faites une demande</h4>
            <div>
                Partagez-nous vos projets  <br> en effectuant un demande sur notre chatbot. <br> Pour de petits travaux du quotidien, direction helloDjo.fr
            </div>
        </div>
        <div class='step-text'>
            <h4>3. Attendez notre retour</h4>
            <div>
                Analyse de votre dossier pour évaluer<br>
                le montant des aides qui vous sont disponibles<br>
                et prise d'un rendez vous
            </div>
        </div>
    </div>
</div>