



<div class="content" *ngIf="!mobile">
    <div class="titre">
        <h1 style="font-weight: 500;font-size: 190%;"> Réaliser des travaux en  bénéficiant <br *ngIf="!mobile"> <span style="font-weight: 500;color:#377EFA"> de subventions ?</span>  </h1>
    </div>
    

<br><br *ngIf="!mobile">
<div class='steptext-container' style="text-align:start">
    <img style="width: 90%;" src="../../../../assets/images/process6.jpg"/>
</div>
    <div class='steptext-container'>
        <div class='step-text'>
            <div style="display:inline-block;vertical-align: top;">
                <span style="font-size: 40px;color:#377EFA;">1</span>&nbsp;&nbsp;&nbsp;
            </div>
            <div style="display:inline-block">
                <h4> Consultez nos services</h4>
                <div>
                    Identifiez parmi nos 2 services celui qui vous convient le mieux.
                </div>
            </div>
        </div>
        <div class='step-text'>
            <div style="display:inline-block;vertical-align: top;"><span style="font-size: 40px;color:#377EFA;">2</span> &nbsp;&nbsp;&nbsp;</div>
            <div style="display:inline-block;vertical-align: top;">
                <h4> Faites une demande</h4>
                <div>
                    Partagez-nous vos projets  en effectuant une demande <br *ngIf="!mobile">sur notre plateforme.
                </div>
            </div>
      
        </div>
        <div class='step-text'>
            <div style="display:inline-block;vertical-align: top;"><span style="font-size: 40px;color:#377EFA;">3</span> &nbsp;&nbsp;&nbsp; </div>
            <div style="display:inline-block;vertical-align: top;">      <h4>Attendez notre retour</h4>
                <div>
                    Analyse de votre dossier pour évaluer le montant des<br *ngIf="!mobile"> aides  qui vous sont disponibles et prise d'un rendez-<br *ngIf="!mobile">vous pour démarrer les travaux.
                </div>
            </div>

      
        </div>
    </div>
</div>











<div class="content" *ngIf="mobile">
    <br>
    <div class="titre">
        <h1 style="font-weight: 500"> Réaliser des travaux en <span style="font-weight: 500;color: #377EFA;"> bénéficiant <br *ngIf="!mobile">  de subventions ?</span>  </h1>
    </div>
    

<br><br *ngIf="!mobile">

    <div class='steptext-container'>
        <div class='step-text'>
            <div style="display:inline-block;vertical-align: top;">
                <span style="font-size: 40px;color:#377EFA;">1</span>&nbsp;&nbsp;&nbsp;
            </div>
            <div style="display:inline-block">
                <h4> Consultez nos services</h4>
                <div>
                    Identifiez parmi nos deux services celui qui vous convient le mieux.
                </div>
            </div>
        </div>
        <div class='step-text'>
            <div style="display:inline-block;vertical-align: top;"><span style="font-size: 40px;color:#377EFA;">2</span> &nbsp;&nbsp;&nbsp;</div>
            <div style="display:inline-block;vertical-align: top;">
                <h4> Faites une demande</h4>
                <div>
                    Partagez-nous vos projets  en effectuant une demande <br *ngIf="!mobile">sur notre plateforme.
                </div>
            </div>
      
        </div>
        <div class='step-text'>
            <div style="display:inline-block;vertical-align: top;"><span style="font-size: 40px;color:#377EFA;">3</span> &nbsp;&nbsp;&nbsp; </div>
            <div style="display:inline-block;vertical-align: top;">      <h4>Attendez notre retour</h4>
                <div>
                    Analyse de votre dossier pour évaluer le montant des<br *ngIf="!mobile"> aides  qui vous sont disponibles et prise d'un rendez-<br *ngIf="!mobile">vous pour démarrer les travaux.
                </div>
            </div>

        </div>
    </div>
</div>






<br><br>
<div style="border-bottom: solid 1px rgb(230, 230, 230);"> </div>


<div *ngIf="!mobile">
<br><br>
    <div class="typestravaux" style="text-align: center;">
        <h1 *ngIf="!mobile"> Tous types de travaux <br><span style="color:#377EFA;"> et tout public.</span> </h1>
        <h1 *ngIf="mobile" style="text-align:start"> Tous types de travaux <br><span style="color:#377EFA;"> et tout
                public.</span> </h1>
                
        <br *ngIf="!mobile">
        <div style="width: 80%;text-align:center;margin: auto;">
            <span *ngIf="!mobile"> Particulier comme professionel, nous pouvons vous monter un dossier pour des
                subventions et vous accompagner à
                réaliser des travaux de tous types :</span>
            <div *ngIf="mobile" style="text-align:start"> Particulier comme professionel, nous pouvons vous monter un
                dossier pour des subventions et vous accompagner à
                réaliser des travaux de tous types :</div>
        </div>
        <br *ngIf="!mobile"><br *ngIf="!mobile">
        <br *ngIf="mobile"> <br *ngIf="mobile">
        <div *ngIf="!mobile">
            <div style="width: 100%;display:inline-block">
                <div style="width:25%;display: inline-block;"> <span style="font-weight:600"><i class="fa fa-align-left"
                            aria-hidden="true" style="color: #377EFA;font-size: 15px;"></i>&nbsp; Menuiserie</span></div>
                <div style="width:25%;display: inline-block;"> <span style="font-weight:600"><i class="fa fa-chevron-up"
                            aria-hidden="true" style="color: #377EFA;font-size: 15px;"></i> &nbsp;Toitures</span></div>
                <div style="width:25%;display: inline-block;"> <span style="font-weight:600"> <i class="fa fa-bolt"
                            aria-hidden="true" style="color: #377EFA;font-size: 15px;"></i>&nbsp; Electricité</span></div>
                
                <br *ngIf="mobile"> <br *ngIf="mobile">
                <div style="width:25%;display: inline-block;"> <span style="font-weight:600"> <i
                            class="fa fa-paint-brush" aria-hidden="true" style="color: #377EFA;font-size: 15px;"></i>
                            &nbsp; Peinture</span></div>
                        <br><br>
                <div style="width:25%;display: inline-block;"> <span style="font-weight:600"> <i class="fa fa-shower"
                            aria-hidden="true" style="color: #377EFA;font-size: 15px;"></i>&nbsp; Sanitaires </span></div>
                <div style="width:25%;display: inline-block;"> <span style="font-weight:600"><i class="fa fa-tint"
                            aria-hidden="true" style="color: #377EFA;font-size: 15px;"></i> &nbsp; Plomberie</span></div>
               
               
                <div style="width:25%;display: inline-block;vertical-align: text-top;"> <span style="font-weight:600"><i
                            class="fa fa-check-circle" aria-hidden="true" style="color: #377EFA;font-size: 15px;"></i>
                            &nbsp; Mises aux
                        normes</span></div>
                <div style="width:25%;display: inline-block;vertical-align: text-top;"> <span style="font-weight:600">
                        <i class="fa fa-home" aria-hidden="true" style="color: #377EFA;font-size: 15px;"></i>
                        &nbsp; Aménagement </span></div>

            </div>

        </div>
    </div> 

    <br><br>    <br><br>    
