@import '../../../../styles.scss';

.logo-container{
    display: flex;
    justify-content: space-around;
}
.logos {
    padding: 1vw;
}
.step-text {
    text-align: start;

    margin-bottom: 50px;
}
h4 { 
    margin: 0px;
    margin-bottom: 8px;
}
.titre {
    text-align: center;
}
.img-container {
    width: 9vw;
    height: 9vw;
}
.roundliaison-container {
    width: 3.5vw;
    height: 3.5vw;
    margin-top: 3vw;
}
.liaison-container {
    width: 18vw;
    height: 4vw;
    margin-top:3.3vw;
}
.steptext-container {
    text-align: center;
    width: 50%;
    display:inline-block;
}
.content {
    display: inline-block;
    width: 100%;
    margin-top: 10%;
}

//MOBILE
@media only screen and (max-width: 500px) {
    .content {
     
        width: 100%;
    
    }

    .titre {
    
    }
}