.screen {
    height: calc(100vh);
    font-family: 'Raleway';
}
.blue {
    background: linear-gradient(#161C2E,#031641,#161C2E);
}
.white {
    background-color: #F8FAFD;
}
.grey {
    background-color: #EDEFF1;
}