<div [ngClass]="navBarClass()">
    <img class="img" src="../../../assets/images/logo.png"/>
    <div class="space"></div>

    <div class="round">
        <i class="fa fa-home" aria-hidden="true" (click)="navigate('')"></i>
    </div>

    <div class="round">
        <i class="fa fa-info" aria-hidden="true" (click)="navigate('presentation')"></i>
    </div>

    <div class="round">
        <i class="fa fa-handshake-o" aria-hidden="true" (click)="navigate('accompagnement')"></i>
    </div>

    <div class="round">
        <i class="fa fa-space-shuttle" aria-hidden="true" (click)="navigate('plateforme')"></i>
    </div>

    <div class="space2"></div>
    <div (click)="navigate('contacts')" class="bold contact">
        <div class="helptext">Nous contacter</div></div>
</div>
