.navigation-bar-container-black {
    height: 50px;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #161C2D;
    color:white;

    p {
        font-size: 16px;
        cursor: pointer;
        color:white;
    }

    .brand-name {
        font-size: 21px;
        font-weight: 800;
    }
}

.navigation-bar-container-grey {
    height: 50px;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #F8FAFD;  
    color:#161C2D;

    p {
        font-size: 16px;
        cursor: pointer;
        color:#082460;
    }
    .round {
      background-color: white;
      border: solid 1.2px #082460;
      
    }
 
    i {
       color:#082460;
    }

    .brand-name {
        font-size: 21px;
        font-weight: 800;
    }
}


.space {
    width: 0%;
    margin-left: -20px;
}

.tooltipAcc {
  position:absolute;
  margin-top:45px;
  margin-left:-40px;
  visibility: hidden;
  color:white;
  width: 150px;
  text-align: start;
  font-size: 14px;
}

.round:hover .tooltipAcc{
    visibility: visible;

}
.space2 {
    width: 55%;
 
}
.spaceshuttle {
    animation: 3s linear 0.2s slidein forwards;
}
.disap {
    animation: 3s linear 0.2s lower forwards;
}

@keyframes slidein {
    0% {  position: absolute;margin-left: 30px;}
    100%   {position: absolute;margin-left: 55%;}
  }

  @keyframes lower {
    0% {  opacity: 1;}
    100%   {opacity: 0;}
  }

.img {
    filter: drop-shadow(0 0 0.30rem #00A5EA);
    margin-top: 10px;
    height: 47px;
    cursor: pointer;
}



:host {
    i {
        font-size: 19px;
    
        margin-top: 5px;
    }

    .round {
        height: 30px;
        width: 30px;
        border: solid 1px white;
        border-radius: 50%;
        margin-top: 20px;
        cursor: pointer;
        text-align: center;
    }

    .contact {
        border-radius: 50px;
        height: 40px;
        width: 150px;
        border: solid 1px white;
        text-align: center;
        margin-top: 15px;
        cursor: pointer;
    }
    .helptext {
        margin-top: 8px;
    }

    .glow:hover {
        background-color: white;
        filter: drop-shadow(0 0 0.30rem white);
        i {
          color: #203258;
      
        }
      color: #203258;

    }
    .glowactive {
        background-color: white;
        filter: drop-shadow(0 0 0.30rem white);
        i {
          color: #203258;
      
        }
      color: #203258;

    }

    .glow2:hover {
        background-color: white;
        filter: drop-shadow(0 0 0.20rem white);
        i {
          color: #203258;
      
        }
      color: #203258;

    }
    .buttoncontainer {
      width:200px;display:flex;justify-content:space-between;
      
    }


    
@media only screen and (max-width: 600px) {
  .img {
    height: 30px;
  }
  .buttoncontainer {
    width: 1050px;
    margin-top: -10px;
    margin-left: 50px;
  }

  .helptext {
    font-size: 10px;
    width: 50px;
  }
  .contact {
    border-radius: 5px;
    height: 30px;
    margin-top: 10px;
    width: 50px;
  }

}

}


