<div class="content">
    <h1 style="font-weight: 300;"> Est ce que vous habitez seul ?</h1>    
    <div style="text-align: center;display: flex;"> 
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> OUI </h2> 
        </div>
        &nbsp;&nbsp;
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> NON </h2> 
        </div>
    </div>

    <h1 style="font-weight: 300;"> Avec votre conjoint ?</h1>    
    <div style="text-align: center;display: flex;"> 
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> OUI </h2> 
        </div>
        &nbsp;&nbsp;
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> NON </h2> 
        </div>
    </div>

    <h1 style="font-weight: 300;">Adulte(s) à votre charge</h1>    
    <mat-form-field appearance="outline">
        <mat-label> </mat-label>
        <input matInput type="text">
    </mat-form-field>

    <h1 style="font-weight: 300;">Mineur(s) à votre charge</h1>    
    <mat-form-field appearance="outline">
        <mat-label> </mat-label>
        <input matInput type="text" >
    </mat-form-field>



    <h1 style="font-weight: 300;"> Etes-vous propriétaire ou locataire ?</h1>    
    <div style="text-align: center;display: flex;"> 
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> Propriétaire </h2> 
        </div>
        &nbsp;&nbsp;
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> Locataire </h2> 
        </div>
    </div>

    <h1 style="font-weight: 300;">Vivez vous dans le logement où il faudra effectuer les travaux ?</h1>    
    <div style="text-align: center;display: flex;"> 
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> OUI </h2> 
        </div>
        &nbsp;&nbsp;
        <div class="button">
            <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;"> NON </h2> 
        </div>
    </div>








</div>