<div class="content">
    <div *ngIf="habiteseul">
        <h2 class="center"> Est-ce que vous habitez seul ?</h2>
        <div class="button button-page" (click)="habitesolo='oui';changeview(4.1)">
            <h4> Oui </h4>
        </div>
        &nbsp;
        <div class="button  button-page" (click)="habitesolo='non';changeview(1);">
            <h4> Non </h4>
        </div>
    </div>

    <div *ngIf="conjoint">
        <h2 class="center"> Avec votre conjoint ?</h2>
            <div class="button button-page" (click)="avecconjoint='oui';changeview(2)">
                <h4> Oui </h4>
            </div>
            &nbsp;
            <div class="button button-page" (click)="avecconjoint='non'; changeview(2)">
                <h4> Non </h4>
            </div>
    </div>

    <div *ngIf="personnesacharge">
        <h2 class="center">Adulte(s) à votre charge</h2>
        <mat-form-field appearance="outline">
            <mat-label> </mat-label>
            <input matInput type="number"  min="0" [(ngModel)]="adultes" (keyup.enter)="changeview(3)" [formControl]="adultecontrol">
        </mat-form-field>
        <br>
        <div class="button button-page" (click)="changeview(3)">
            <h4> Valider </h4>
        </div>
    </div>

    <div *ngIf="mineuracharge">
        <h2 class="center">Mineur(s) à votre charge</h2>
        <mat-form-field appearance="outline">
            <mat-label> </mat-label>
            <input matInput type="number"  min="0" [(ngModel)]="enfants" (keyup.enter)="changeview(4)" [formControl]="mineurcontrol">
        </mat-form-field>
        <br>
        <div class="button button-page" (click)="changeview(4)" >
            <h4> Valider </h4>
        </div>
 
    </div>

    
    <div *ngIf="propouloc">
        <h2 class="center"> Etes-vous propriétaire ou locataire ?</h2>
            <div class="button button-page" (click)="status='proprietaire';changeview(5)">
                <h4> Propriétaire </h4>
            </div>
            &nbsp;
            <div class="button button-page" (click)="status='locataire';changeview(5)">
                <h4> Locataire </h4>
            </div>
    </div>


    <div *ngIf="habitedanslogement">
        <h2 class="center">Vivez vous dans le logement où il faudra effectuer les travaux ?</h2>
            <div class="button button-page"  (click)="viedanslogement='oui';changeview(6)">
                <h4> Oui </h4>
            </div>
            &nbsp;
            <div class="button button-page"  (click)="viedanslogement='non';changeview(6)">
                <h4> Non </h4>
            </div>
    </div>
</div>

<!-- <div style="display:flex;justify-content:end" *ngIf="!mobile"> 
    <mat-progress-spinner
    [mode]="mode"
    [value]="value">
    </mat-progress-spinner> </div> -->





