<div class="firstview-content2" (scroll)="onScroll($event)">
        <h1>Rénovez votre logement grâce aux aides de l'état</h1>
        <div> Faites vous accompagner par un opérateur social</div>
        <div style="height: 40%;"></div>
        <div class="button-container"> 
        <div class="button"  (click)="navigateTo('presentation')"><h2 style="margin: auto;font-size: 1.2vw;"> En savoir plus </h2> </div>
        <div class="button blue-button" (click)="navigateTo('chatbox.html')"><h2 style="margin: auto;font-size: 1.2vw;"> Tester son éligibilité </h2> </div> 
        </div>
    </div>
<div class="firstview-content">
    <div class="firstbackground">
        <img src="../../../../assets/svg/home-background.svg"/>
    </div>
    <div class="secondbackground">
        <!--<img src="../../../../assets/svg/home-background2.svg"/>-->
    </div>
</div>

