<div class="firstview-content" *ngIf="!mobile">
<!-- <img style="width: 13%;" class="img" src="../../../assets/images/logo.png"> -->
<h1 style="font-weight: 500;">Donnez vie à<span class="boldi"> votre logement</span> <br *ngIf="!mobile"> avec l'aide de
    l'État. </h1>

<div class="text"> <span class="logop">Le Prisme , </span><span style=""> Assistant à Maîtrise
        d'Ouvrage</span> vous accompagne et vous permet de bénéficier des <span class="">subventions</span> de l'État
    pour réaliser des travaux de <span class="bold">rénovation</span> et <span class="bold">d'accessibilité</span> de
    votre logement.
</div>
<br><br>
<div class="button-container" style="overflow: visible;">
    <div class="button" (click)="scroll()">
        <h4 class="info_button"> En savoir plus &nbsp; <i class="fa fa-arrow-down" aria-hidden="true"></i> </h4>
    </div>
    <div class="button blue-button" (click)="navigateTo('/plateforme')">
        <h4 style="margin: auto;"> Se faire accompagner </h4>
    </div>


    <br><br><br>
</div>
   
</div>

<div *ngIf="mobile" class="firstview-content">
    <!-- <img src="../../../../assets/images/homi.png" style="width: 78%;"> -->
    <h1 >Donnez vie à votre logement avec l'État. </h1>
    <div class="text"> Assistant à maîtrise d'ouvrage, nous <br>vous accompagnons dans la rénovation et l'amménagement de votre logement.</div>
    <br>
    <div class="button-container" style="overflow: visible;">
        <div class="button" (click)="scroll()">
            <h4 class="info_button"> En savoir plus &nbsp; <i class="fa fa-arrow-down" aria-hidden="true"></i> </h4>
        </div>
        <div class="button blue-button" (click)="navigateTo('/plateforme')">
            <h4 style="margin: auto;"> Se faire accompagner </h4>
        </div>
    </div>
</div>

