<div class="firstview-content">
    <h1>Redonnez vie à<span class="bold"> votre logement</span> avec l'aide de l'état </h1>
    <div style="font-size: 110%;"> <span class="bold">Le Prisme</span>, Assistant à Maîtrise d'Ouvrage, vous accompagne dans vos projets de rénovation et d’accessibilité de votre logement <br> et vous permet de bénéficier de subventions de l'état</div>
    <div style="height: 20%;"></div>
    <div class="button-container">
        <div class="button" (click)="scroll()">
            <h2 class="info_button" > En savoir plus &nbsp; <i class="fa fa-arrow-down" aria-hidden="true"></i> </h2>
        </div>
        <div class="button blue-button" (click)="navigateTo('/demande')">
            <h2 style="margin: auto;font-size: 1.2vw;">  Recevoir des subventions </h2>
        </div>
    </div>
</div>