h1 {   
    margin-top:15%;
}
.firstbackground {
    width: 55vw;
    float: right;
    position: relative;
}
.secondbackground {
    width: 50vw;
    float: right;
    position: relative;
    margin-top: -35vw;
}
.firstview-content {
    margin-top: -15vw;
}
.firstview-content2 {
    width: 50%;
    text-align: center;
    height: 15vw;
}