@import '../../../../styles.scss';

h1 {   
    margin-top:10%;
    font-size: 300%;
}
.firstview-content {
    width: 100%;
    text-align: center;
    height: calc(85vh);
}
.button {
    width: 20%;
    background-color:#E8F2FF;
    color:black;
    margin:2%;
}
.blue-button {
    background-color: $blueprisme;
    color:white;
}
.button:hover {
   transform: translateY(-4px);
}
.button-container {
    animation: 1s linear button-effect;
}
.bold {
    font-weight:bold;
    color:$blueprisme;
}
.info_button {
    margin: auto;
    font-size: 1.2vw;
    color:$blueprisme;
}