.phases-accomp {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    text-align: start;
    .phase {
        width: 40%;
    }
}

.content-split4 {
    .text-contentleft {
        margin-left:22%
     }
}

.content-split6 {
    h2 {
       margin-top: 35%;
       margin-right:37%
    }
}

.img {
    width: 630px;
    margin-left: 70px;
}

.lastScreen {
 .button {
    width: 230px;
    height: 50px;
    margin: auto;
 }   
 h1 {
    
 }
}