<!--FIRST VIEW -->
<div class="content grey">
    <br><br><br><br><br><br><br><br>
    <div class="titreMaj">NOTRE RÔLE</div>
    <br>
    <h2> En quoi consiste l'accompagnement ?</h2>
    <p> Ci-dessous les différentes phases de l'accompagnement. </p>
</div>


<!--SECOND VIEW -->
<div class="content grey">
    <div class="phases-accomp">
        <p> Réaliser une étude de l’éligibilité aux dispositifs d’aides.</p>
        <p>Concevoir et chiffrer avec un Bureau d’Etudes Techniques le projet de rénovation. </p>
    </div>
    <br><br><br>
    <div class="phases-accomp">
        <p> Etablir un plan de financement et sélectionner les entreprises pour la réalisation du projet.</p>
        <p> Réaliser le suivi des travaux jusqu'à leurs livraisons.</p>
    </div>
</div>

<!--THIRD VIEW -->
<div class="content grey interview">
    <br><br><br><br>
    <h2>Deux programmes d'accompagnement <br> pour vos travaux.</h2>
</div>

<!--FOURTH VIEW -->
<div class="content grey">
    <br><br><br>
    <div class="content-split4">
        <div class="text-contentleft">
            <h2> La rénovation du logement.</h2>
            <p>
                Rénover son logement et faire des travaux. Vous pouvez avoir droit à
                 des subventions de l’état, de nos différents partenaires ou de votre commune.
            </p>
        </div>
  
    </div>
    <div class="content-split6">
        <img class="img card" src="../../../assets/images/apresaah.png">
    </div>

    
</div>



<div class="lineb"></div>



<!--FIFTH VIEW-->
<div class="content grey">
<br><br><br><br>

    <div class="content-split6">
        <img class="img card" src="../../../assets/images/accessibilite.png">
    </div>
    <div class="content-split4" >
        <div class="text-content-right">
        <h2>
            L'accessibilité du <br> logement.
        </h2>
        <p>
            Aménager et adapter son logement en cas de mobilité
             réduite constitue une véritable priorité pour notre entreprise.
              Nous sommes le premier AMO à proposer un accompagnement au coeur 
              de l'accessibilité. Il s’agit de permettre le maintien de l’autonomie 
              et d’améliorer la sécurité par l’aménagement de l’espace de vie.
        </p>
    </div>
    </div>
</div>