<!--FIRST VIEW -->
<div class="content black">



    <br><br><br>
    <div style="padding:6%">
        <div class="titreMaj">NOTRE RÔLE</div>
        <br>
    <h1 style="font-size:55px"> En quoi consiste l'accompagnement ?</h1>
    <p> Ci-dessous les différentes phases de l'accompagnement. </p>
<br><br><br><br><br>
    <i class="fa fa-arrow-down" (click)="scroll()" style="color:white;font-size:30px;cursor:pointer    " aria-hidden="true"></i>

</div>

</div>


<!--SECOND VIEW -->
<div class="content grey">
    <br><br><br><br><br><br><br>
    <div class="phases-accomp">
        <div class="phase">
            <p class="bold">Etude de l'éligibilité</p>
            <p> Réaliser une étude de l’éligibilité aux dispositifs d’aides.</p>
        </div>
        <div  class="phase">
            <p class="bold">Chiffrage</p>
            <p>Concevoir et chiffrer avec un Bureau d’Etudes Techniques le projet de rénovation. </p>
        </div>

      
    </div>
    <br><br><br>
    <div class="phases-accomp">

        <div class="phase">
            <p class="bold">Plan de financement</p>
            <p> Etablir un plan de financement et sélectionner les entreprises pour la réalisation du projet.</p>
        </div>
        <div class="phase">
            <p class="bold">Suivi des travaux</p>
            <p> Réaliser le suivi des travaux jusqu'à leurs livraisons.</p>
        </div>
       
      
    </div>
</div>

<!--THIRD VIEW -->
<div class="content grey">
    <br><br><br><br>
        <h2><h1 style="font-size:130px;margin:5px;">2</h1>programmes d'accompagnement.</h2>
    <p> En fonction des travaux que vous souhaitez effectuer.</p>
</div>

<!--FOURTH VIEW -->
<div class="content grey">
    <br><br><br>
    <div class="content-split4">
        <div class="text-contentleft">
            <h2>  <span style="font-size: 70px;">R</span>énovation</h2>
            <p>
                Rénover son logement et faire des travaux. Vous pouvez avoir droit à
                 des subventions de l’état, de nos différents partenaires ou de votre commune.
            </p>
        </div>
  
    </div>
    <div class="content-split6">
        <img class="img card" src="../../../assets/images/apresaah.png">
    </div>

    
</div>

<div class="content grey interview" style="height:calc(20vh)"></div>

<!--FIFTH VIEW-->
<div class="content grey">
<br><br><br><br>

    <div class="content-split6">
        <img class="img card"  src="../../../assets/images/accessibilite.png">
    </div>
    <div class="content-split4" >
        <div class="text-content-right">
        <h2>
            <span style="font-size: 70px;">A</span>ccessibilité
        </h2>
        <p>
            Aménager et adapter son logement en cas de mobilité
             réduite constitue une véritable priorité pour notre entreprise.
              Nous sommes le premier AMO à proposer un accompagnement au coeur 
              de l'accessibilité. Il s’agit de permettre le maintien de l’autonomie 
              et d’améliorer la sécurité par l’aménagement de l’espace de vie.
        </p>
    </div>
    </div>
</div>





<!--FIFTH VIEW-->

<div class="content grey lastScreen">
    <br><br><br><br>
    <h1>Vous savez tout !</h1>
    <p> Il ne vous reste plus qu'à faire une demande.</p>
    <br>
    <div class="button color-10" (click)="navigate('plateforme')">
        <p style="color:white;padding-top: 14px;">Accéder à la plateforme</p>
      </div>
</div>