<!--FIRST VIEW -->
<div class="content black gradiant1 center " >
    <div class="centre">

        <h1> En quoi consiste l'accompagnement ?</h1>
        
        <i class="fa fa-arrow-down" aria-hidden="true" style="margin-top:21.58%"></i>
    </div>
    
</div>


<!--SECOND VIEW -->
<div class="content black" style="background:linear-gradient(#011543,#161C2D)">
    <br><br><br>
    <div class="phases-accomp">
    
        <div class="phase">
            <img class="icons"  src="../../../assets/icones/verifie2.png">
            <p class="bold">Étude de l'éligibilité</p>
            <p class="txtphz">Diagnostique du logement et étude de l’éligibilité aux dispositifs d’aides.</p>
        </div>
    
        <div  class="phase">
            <img class="icons"  src="../../../assets/icones/etude-de-cas.png">
            <p class="bold">Chiffrage & financement</p>
            <p class="txtphz">Concevoir et chiffrer avec un Bureau d’Etudes Techniques le projet puis établir un plan de financement. </p>
        </div>


        <div class="phase">
            <img class="icons" src="../../../assets/icones/artisan2.png">
            <p class="bold">Choisir un Maitre d'Oeuvre</p>
            <p class="txtphz"> Sélectionner la ou les entreprises pour la réalisation du projet.</p>
        </div>
    
        <div class="phase">
            <img class="icons" src="../../../assets/icones/maison2.png">
            <p class="bold">Suivi des travaux</p>
            <p class="txtphz"> Réaliser le suivi des travaux jusqu'à leurs livraisons.</p>
        </div>
       
      
    </div>
</div>

<!--THIRD VIEW -->
<div class="content grey" style="height:400px" >
    <br><br><br><br><br>
        <h2><h1 style="font-size:80px;margin:5px;">Deux</h1>programmes d'accompagnement.</h2>
    <p> En fonction des travaux que vous souhaitez effectuer.</p>
</div>

<!--FOURTH VIEW -->
<div class="content grey">
    <br><br><br>
    <div class="content-split4">
        <div class="text-contentleft">
            <h2>  <span style="font-size: 70px;">R</span>énovation</h2>
            <p>
                Rénover son logement et faire des travaux. Vous pouvez avoir droit à
                 des subventions de l’état, de nos différents partenaires ou de votre commune.
                 <br>  <br>
                 Avec ce programme vous pouvez bénéficiez de subventions grâce aux <span class="boldgradiant">Aides à l'Amélioration de l'Habitat</span> expliquées ci-dessous.
            </p>
        </div>
  
    </div>
    <div class="content-split6">
        <div *ngIf="carrous" class=" fondu cardtest" style="height:650px;width:700px;margin-left: 58px;">
            
            <img style="height: 250px;margin-left: 5%;margin-top: 5%;" src="../../../assets/icones/avantaah.png"/>
&nbsp;<br>
            <img style="height: 320px;margin-top: 0px;margin-left: 33%;" src="../../../assets/images/apresaah.png"/>
        </div>
<div *ngIf="!carrous" style="height:650px;width:700px;margin-left: 58px;" class="fondu">
    <img style="height: 430px;margin-top: 130px;" src="../../../assets/images/aaah.jpg"/>
</div>
      
    </div>

    
</div>

<div class="content grey interview" style="height:calc(20vh)"></div>




<!--FIFTH VIEW-->
<div class="content grey" style="height: 760px;">
<br><br><br><br>

    <div class="content-split6">
        <div class="" style="height:630px;width:700px;margin-left:-40px ;">
        <img src="../../../assets/images/accessibilite.png" style="height: 260px;"/> &nbsp;        <img src="../../../assets/images/poigne.jfif" style="height: 260px;width: 224px;"/>  <br>
        <img src="../../../assets/images/accessibilite2.png"  style="height: 260px;"/>&nbsp;
        <img src="../../../assets/images/main_courante.jpg" style="height: 260px;" />
        </div>
    </div>
    <div class="content-split4" >
        <div class="text-content-right">
        <h2>
            <span style="font-size: 70px;">A</span>ccessibilité
        </h2>
        <p>
            Aménager et adapter son logement en cas de mobilité
             réduite constitue une véritable priorité pour notre entreprise.
           
              Nous sommes le premier AMO à proposer un accompagnement au coeur 
              de l'accessibilité. Il s’agit de permettre le maintien de l’autonomie 
              et d’améliorer la sécurité par l’aménagement de l’espace de vie.
              <br><br>
              Avec ce programme vous pouvez bénéficiez de subventions grâce à l'<span class="boldgradiant">Aide aux Personnes à Mobilité Réduite</span> expliquée ci-dessous.
        </p>
    </div>
    </div>
</div>

<div class="content gray" style="height: 400px;">
    <br><br><br><br><br>
    <h2> Deux types d'aides.</h2>
    <p> En fonction du programme qui vous correspond.</p>
</div>

<div class="content gray" style="height:calc(120vh);">
    <div class="content-half"  style="width:70%" >
        <h2 style="text-align: start;font-size: 30px;padding-left: 10%;"> Aides à l'Amélioration  de l'Habitat</h2>
           
         
     <p style="text-align: start;padding: 10%;padding-top: 1%;">
        
         Ce sont des aides financières mise en place par l'Agence National de l'Habitat, elles concernent : <br><br>
       <b>  -Des travaux d'amélioration de votre logement : </b><br>
       Habiter Sain & Habiter Serein.
       <br><br>
        <b>-Des travaux de rénovation énergétique :</b> <br>
         MaPrimeRénov' Sérénité et MaPrimeRénov' pour les propriétaires occupants.
        <br> MaPrimeRénov' Copropriété pour les copropriétés.

      
 <br> <br>
         Si vous êtes propriétaires bailleurs, vous pouvez bénéficier de l'aide Loc' Avantages pour réaliser des
         travaux de réhabilitation et de rénovation énergétique.
 
     </p>
    
    </div>
    <div class="content-half" style="width:30%;vertical-align: top;">
    <h1 style="font-size:100px;margin-top: 0px;" > AAH</h1>
    <img src="../../../assets/images/illustration-3.png" style="height: 200px;margin-left: -50px;margin-top: -50px;"/>
</div>
  
          
 </div>

<div class="content gray">
    <div class="content-half" style="vertical-align: top;text-align: center;">

        <h1 style="font-size:100px;margin-top: -70px;">PMR</h1>
        <img src="../../../assets/images/illustration-6.png" style="height: 300px;margin-top: -50px;"/>
    </div>
 <div class="content-half">  
    <h2  style="text-align: start;font-size: 30px;padding-left: 10%;">Aide aux Personnes à Mobilité Réduite  </h2>

    <p style="text-align: start;padding-left: 10%;padding-top: 1%;">
    L' aide Habiter Facile : Adapter votre logement à votre perte d'autonomie, 
    par exemple  pour l'installation d'une barre de soutien dans votre salle de bain.<br><br>
        L'Agence National de l'Habitat peut financer jusqu’à la moitié de vos travaux et vous pouvez être aidé par d’autres organismes financiers.
    </p></div>
</div>

<!--FIFTH VIEW-->

<div class="content gray lastScreen " style="height:450px">
    <br>
    <h1 >Vous savez tout !</h1>
    <p> Il ne vous reste plus qu'à faire votre demande.</p>
    <br>
    <div class="button color-10" (click)="navigate('plateforme')">
        <p style="color:white;padding-top: 14px;">Se faire accompagner</p>
      </div>
</div>