.phases-accomp {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    text-align: start;
    P {
        width: 40%;
    }
}

.content-split4 {
    .text-contentleft {
        margin-left:22%
     }
}

.content-split6 {
    h2 {
       margin-top: 35%;
       margin-right:37%
    }
}

.img {
    width: 600px;
    margin-left: 70px;
}