.phases-accomp {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
 
    text-align: start;
    .phase {
        width: 22%;
        text-align: center;
        .txtphz {
            font-size: 17px;
        }
        .icons {
            margin:auto;
        }
    }
}

.fondu {
    animation: blink-animation 5s infinite;
}
@keyframes blink-animation {
    0% {
        opacity: 0;
    }
    20% {
      opacity: 1;
    }
    100%{
        opacity: 1;
    }
  }
.content-split4 {
    .text-contentleft {
        margin-left:22%
     }
}

.content-split6 {
    h2 {
       margin-top: 35%;
       margin-right:37%
    }
}



.img {
    width: 630px;
    margin-left: 70px;
}

.lastScreen {
 .button {
    width: 230px;
    height: 50px;
    margin: auto;
 }   
 h1 {
    
 }

 .boldi {

 }
}


:host {
    .icons {
        padding-top: 40px;
        width:70px;
        margin-right: 60px ;
    }
}