<!-- FIRSTVIEW -->
<div class="content black">

  <div class="firstview">
    <div class="titreMaj" style="font-weight:600">LE PRISME </div>
    <h1>Vivre dans un logement <br> décent, c'est possible.</h1>
    
    <p>Assistant à Maîtrise d'Ouvrage.</p>
    <br>
   
     <br>
    <div class="buttons-container">
      <div class="button color-9"  (click)="windowScrollBy(1)">
        <p>En savoir plus &nbsp; <i class="fa fa-arrow-down" aria-hidden="true"></i> </p>
      </div>
      <div class="button color-10" (click)="navigate('/plateforme')">
        <p> Se faire accompagner</p>
      </div>
      
    </div>
    <!-- <img style="width:45px;margin-left: 93%;margin-top: -400px;" src="../../../assets/icones/martiniquewhite.png"> -->
  </div>

</div>



<!-- SECOND VIEW -->
<div class="content black"  style="background:linear-gradient(#161C2D,#011543)">
  <div class="content-half">
    <div class="text">
      <h2> Assitant à maîtrise <br> d'ouvrage ?</h2>
      <p>Notre objectif est d’accompagner tout propriétaire désirant rénover, réparer ou adapter son logement en lui
        permettant de bénéficier de subventions.</p>
      <p> Nous vous aidons à définir ainsi qu'à réaliser votre projet et prenons en charge les démarches administratives
        afin de vous
        débloquer des fonds supplémentaires.</p>
    </div>
  </div>
  <div class="content-half">
<img src="../../../assets/images/illustration-2.png" style="width:570px">
  </div>
</div>



<!-- THIRD VIEW -->
<div class="content black" style="background:linear-gradient(#011543,#161C2D)">
  <div class="content-half" style="text-align:center;vertical-align: top;margin-top:50px">

<h1 style="font-size:350px;margin-top: -30px;"> ?</h1>
  </div>
  <div class="content-half">
    <div class="text">
      <h2> Bénéficier de subventions ? </h2>
      <p> L'Agence Nationale de l'Habitat, l'ANAH propose plusieurs types d'aide en fonction des travaux que vous souhaitez effectuer et de votre éligibilité. </p>
      <p>  Quelle que soit l'aide demandée,
        le montant des travaux doit être d'au minimum 1 500 €. Les subventions sont versées une fois que vos travaux sont terminés.</p>
    </div>
  </div>

</div>







<!--FOURTH VIEW-->
<div class="content grey">

  <div class="steps-title">
    <h2> Suis-je éligible ? </h2>
    <p>Vos conditions de vie et vos ressources définissent votre éligibilité à bénéficier des differentes subventions. Il nous faut analyser votre situation afin de pouvoir définir quelles sont les aides qui vous sont disponibles.</p>
  </div>

  <div style="display:inline-block;width:40%;vertical-align: middle;color: #011543;text-align: center;">
 
  <img src="../../../assets/images/pose_31.png" style="width: 70%;margin-top: 50px;"/> 
  <!-- <img src="../../../assets/images/pose_41.png" style="width: 50%;margin-top: 50px;"/>  -->
</div>


<br><br>
  <div style="width:58.5%;margin:0px;margin-left:122px;display: flex;">
    <div style="width:35px;height:35px;border-radius:50%;background:linear-gradient(#161C2D,#012371)">
      <div class="numberstep">1</div> 
    </div>
    <div style="width:340px;height:0.1px;background-color:#26304ccf;margin-top:18px"> </div>
    <div style="width:35px;height:35px;border-radius:50%;background:linear-gradient(#161C2D,#012371)">
      <div class="numberstep">2</div> 
    </div>
    <div style="width:340px;height:0.1px;background-color:#26304ccf;margin-top:18px"> </div>
    <div style="width:35px;height:35px;border-radius:50%;background:linear-gradient(#161C2D,#012371)">
      <div class="numberstep">3</div> 
    </div>
  </div>
  <div class="steps-container">
    <div class="step">
      <!-- <div class="number-line-container"> 
        <h3>1</h3>
        <div class="line"></div>
      </div> -->

      <p class="bold"> Les accompagnements.</p>
      <p> Identifiez parmi les 2 types d'accompagnement celui qui vous convient le mieux.</p>
    </div>

    <div class="step">
      <!-- <h3>2</h3> -->
      <p class="bold">Faites une demande.</p>
      <p>Faites-nous part de votre projet en remplissant une demande
        sur notre plateforme.</p>
    </div>

    <div class="step">
      <!-- <h3>3</h3> -->
      <p class="bold"> Attendez notre retour.</p>
      <p>Nous analyserons vos informations et vous informerons sur la possibilité de financer votre projet.</p>
    </div>

  </div>
</div>






<!-- FIFTH VIEW -->
<div class="content grey" style="height:calc(150vh)">
  <br><br>  <br>
  <br>  <br>  <br>  <br>  <br>
  <h2> Tous types de travaux<br>   et tout public.</h2>
  <p> Particuliers comme professionels, nous vous accompagnons pour tous types de travaux <br>concernant votre logement.
  </p>
  <br>
  <div class="types-travaux">
    <p class="bold">
      <img class="icons" src="../../../assets/icones/scie-circulaire.png"><br>
       Menuiserie</p>
    <p class="bold">
      <img class="icons" src="../../../assets/icones/toit.png"><br>
      Toiture</p>
    <p class="bold">   <img class="icons" src="../../../assets/icones/eclairage.png"><br>
      Électricité</p>
    <p class="bold">   <img class="icons" src="../../../assets/icones/rouleau-de-peinture.png"><br>
      Peinture</p>
  </div>
  <br>
  <div class="types-travaux">
    <p class="bold">   <img class="icons" src="../../../assets/icones/salle-de-bains.png"><br>
      Sanitaire</p>
    <p class="bold">  <img class="icons" src="../../../assets/icones/plomberie.png"><br>
       Plomberie</p>
    <p class="bold">   <img class="icons" src="../../../assets/icones/iso.png"><br>
      Mise aux normes</p>
    <p class="bold">   <img class="icons" src="../../../assets/icones/accessibilite.png"><br>
      Accessibilité</p>
  </div>
</div>



<!--SIXTH VIEW-->
<div class="content gray">
  <div class="content-half">
    <img src="../../../assets/images/letop.png" style="width: 80%;margin-left: 15px;" />
    <img src="../../../assets/images/iphon.png" style="width: 18%;margin-left: -15px;" />
  </div>
  <div class="content-half">
    <div class="plateforme">
      <h2> Notre plateforme de demande.</h2>
      <p> Dans le but d'accélérer la procédure, vous pouvez effectuer une demande d'accompagnement directement sur notre
        site vià notre plateforme de demande.</p>
      <div class="button color-10 " (click)="navigate('/plateforme')">
        <p>Accéder à la plateforme </p>
      </div>
    </div>
  </div>
</div>

<div class="content gray">
  <div class="questions">
    <div class="questions-text">
      <div class="question-icon">
        <h3 class="icon-text">?</h3>
      </div>
     
     
  <div class="questions-text-value">
    <p class="bold"> 
      Dois-je payer pour effectuer une demande ? </p>
    <p>
      Effectuer votre demande en ligne est totalement gratuit
      et cela ne vous prendra que quelques minutes.
    </p>
  </div>
    </div>

    <div class="questions-text">
      <div class="question-icon">
        <h3 class="icon-text">?</h3>
      </div>
      <div class="questions-text-value">
        <p class="bold"> Comment vais-je être contacté ? </p>
        <p>
          Une fois votre demande effectuée vous serez contacté
          dans moins de 48h par une instructrice directement par téléphone.
        </p>
      </div>
 
    </div>

  </div>

  <br>
  <div class="questions">
    <div class="questions-text">
      <div class="question-icon">
        <h3 class="icon-text">?</h3>
      </div>
      <div class="questions-text-value">
        <p class="bold"> Qui réalise les travaux ? </p>
        <p>
          Nous collaborons avec de nombreux artisans qui
          se chargeront de réaliser vos travaux avec soin dans les meilleurs délais.
        </p>
      </div>

    </div>

    <div class="questions-text">
      <div class="question-icon">
        <h3 class="icon-text">?</h3>
      </div>
      <div class="questions-text-value">
        <p class="bold"> Quand faire appel au Prisme ? </p>
        <p>
          Pour se faire accompagner et subventionner
          lors de réalisation des travaux conséquents dans son lieu de vie.
        </p>
      </div>

    </div>
  </div>
</div>

















<div class="content black">
  <br><br><br>
  <div class="titreMaj">CHIFFRES-CLÉS</div>
 
  <h2>Pour résumé.</h2>

  <div class="numbers-content">
    <div class="number">
      <h1>300</h1>
      <p>Foyers suivis en 2020.</p>
    </div>
    <div class="number">
      <h1>30</h1>
      <p>ans d'expérience.</p>
    </div>
    <div class="number">
      <h1>2</h1>
      <p> Certifications : <br> Handibat & Qualibat.</p>
    </div>
  </div>
  <br><br>
<div class="keys-button">
  <div class="button color-9 " (click)="navigate('/presentation')">
    <p>Plus d'informations ?</p>
  </div>
</div>

</div>




<div class="content black">
 <br><br>
<h2> Ils nous font confiance.</h2>
<p>Nos partenaires nous font confiance depuis des années. </p>

<div style="display:flex;justify-content:space-between;display: none;">
<img src="../../../assets/partenaires/deal.png" class="partenaires">
</div>

</div>