h1 {
    display: flex;
    font-size: 5vw;
    justify-content: center;
    margin:auto;
    animation: 5s linear condemned_blink_effect;
    margin-top:15vw;
}


@keyframes condemned_blink_effect {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 1;
      }
    100% {
      visibility: 0;
    }
  }