<!-- FIRSTVIEW -->
<div class="content black">

  <div class="firstview">
    <div class="titreMaj">LE PRISME</div>
    <h1>Vivre dans un logement <br> décent c'est possible.</h1>
    <p>Assistant à Maîtrise d'Ouvrage.</p>
    <br> <br>
    <div class="buttons-container">
      <div class="button color-9 ">
        <p>En savoir plus &nbsp; <i class="fa fa-arrow-down" aria-hidden="true"></i> </p> 
      </div>
      <div class="button color-10">
        <p> Se faire accompagner</p>
      </div>
    </div>
  </div>

</div>

<!--FIRST INTERVIEW-->
<!-- <div class="interview black">

  <div class="avantages-container">
    <h3>Un accompagnement personnalisé</h3>
    <h3>Des artisans fiables et compétents</h3>
    <h3>Une équipe réactive à votre écoute</h3>  
  </div>
</div> -->






<!-- SECOND VIEW -->
<div class="content black">
  <div class="content-half">
    <div class="text">
      <h2> Assitant à maîtrise <br> d'ouvrage ?</h2>
      <p>Notre objectif est d’accompagner tout propriétaire désirant rénover, réparer ou adapter son logement en lui
        permettant de bénéficier de subventions.</p>
      <p> Nous vous aidons à définir ainsi qu'à réaliser votre projet et prenons en charge les démarches administratives afin de vous
        débloquer des fonds supplémentaires.</p>
    </div>
  </div>
  <div class="content-half">

  </div>
</div>



<!-- THIRD VIEW -->
<div class="content black">
  <div class="content-half">

  </div>
  <div class="content-half">
    <div class="text">
      <h2> Bénéficier de subventions ? </h2>
      <p>Notre objectif est d’accompagner tout propriétaire désirant rénover, réparer ou adapter son logement en lui
        permettant de bénéficier de subventions.</p>
      <p> Nous vous aidons à définir ainsi qu'à réaliser votre projet et prenons en charge les démarches administratives afin de vous
        débloquer des fonds supplémentaires.</p>
    </div>
  </div>

</div>



<!--FOURTH VIEW -->
<div class="content grey">
  <br><br><br>
  <div class="titreMaj">NOTRE RÔLE</div>
  <br>
  <h2> En quoi consiste l'accompagnement ?</h2>
  <p> Une fois votre demande effectuée, nous nous chargeons de :  </p>
  <br><br>
  <div class="phases-accomp">
    <p> Réaliser une étude de l’éligibilité aux dispositifs d’aides.</p>
    <p>Concevoir et chiffrer avec un Bureau d’Etudes Techniques le projet <br>de rénovation. </p>
  </div>
<br><br><br>
  <div class="phases-accomp">
    <p> Etablir un plan de financement et sélectionner les entreprises pour la réalisation du projet.</p>
    <p> Réaliser le suivi des travaux jusqu'à <br>leurs livraisons.</p>
  </div>

</div>


<!-- FIFTH VIEW -->
<div class="content grey">
  <br><br><br><br>
  <div class="titreMaj">QUOI ET POUR QUI ? </div>
  <br>
  <h2> Tous types de travaux et tout public.</h2>
  <p> Particuliers comme professionels, nous vous accompagnons  pour tous types de travaux <br>concernant votre logement. </p>
  <br><br>
  <div class="types-travaux">
    <h3> Menuiserie</h3>
    <h3> Toiture</h3>
    <h3> Électricité</h3>
    <h3> Peinture</h3>
  </div>
  <br><br><br>
  <div class="types-travaux">
    <h3> Sanitaire</h3>
    <h3> Plomberie</h3>
    <h3> Mise aux normes</h3>
    <h3> Aménagement</h3>
  </div>
</div>