<!-- FIRSTVIEW -->
<div class="content black">

  <div class="firstview">
    <div class="titreMaj">LE PRISME</div>
    <h1>Vivre dans un logement <br> décent c'est possible.</h1>
    <p>Assistant à Maîtrise d'Ouvrage.</p>
    <br> <br>
    <div class="buttons-container">
      <div class="button color-9 ">
        <p>En savoir plus &nbsp; <i class="fa fa-arrow-down" aria-hidden="true"></i> </p>
      </div>
      <div class="button color-10">
        <p> Se faire accompagner</p>
      </div>
    </div>
  </div>

</div>

<!--FIRST INTERVIEW-->
<!-- <div class="interview black">

  <div class="avantages-container">
    <h3>Un accompagnement personnalisé</h3>
    <h3>Des artisans fiables et compétents</h3>
    <h3>Une équipe réactive à votre écoute</h3>  
  </div>
</div> -->






<!-- SECOND VIEW -->
<div class="content black">
  <div class="content-half">
    <div class="text">
      <h2> Assitant à maîtrise <br> d'ouvrage ?</h2>
      <p>Notre objectif est d’accompagner tout propriétaire désirant rénover, réparer ou adapter son logement en lui
        permettant de bénéficier de subventions.</p>
      <p> Nous vous aidons à définir ainsi qu'à réaliser votre projet et prenons en charge les démarches administratives
        afin de vous
        débloquer des fonds supplémentaires.</p>
    </div>
  </div>
  <div class="content-half">

  </div>
</div>



<!-- THIRD VIEW -->
<div class="content black">
  <div class="content-half">

  </div>
  <div class="content-half">
    <div class="text">
      <h2> Bénéficier de subventions ? </h2>
      <p>Notre objectif est d’accompagner tout propriétaire désirant rénover, réparer ou adapter son logement en lui
        permettant de bénéficier de subventions.</p>
      <p> Nous vous aidons à définir ainsi qu'à réaliser votre projet et prenons en charge les démarches administratives
        afin de vous
        débloquer des fonds supplémentaires.</p>
    </div>
  </div>

</div>


<!--FOURTH VIEW -->
<!-- <div class="content grey">
  <div class="titreMaj">NOTRE RÔLE</div>
  <br>
  <h2> En quoi consiste l'accompagnement ?</h2>
  <p> Ci-dessous les différentes phases de l'accompagnement : </p>
  <br><br>
  <div class="phases-accomp">
    <p> Réaliser une étude de l’éligibilité aux dispositifs d’aides.</p>
    <p>Concevoir et chiffrer avec un Bureau d’Etudes Techniques le projet de rénovation. </p>
  </div>
  <br><br><br>
  <div class="phases-accomp">
    <p> Etablir un plan de financement et sélectionner les entreprises pour la réalisation du projet.</p>
    <p> Réaliser le suivi des travaux jusqu'à leurs livraisons.</p>
  </div>
</div> -->





<!--FOURTH VIEW-->
<div class="content grey">

  <div class="steps-title">
    <h2> Suis-je éligible ? </h2>
    <p>Particuliers comme professionels, nous vous accompagnons <br>pour tous types de travaux
      concernant votre logement.</p>
  </div>

  <div class="steps-container">
    <div class="step">
      <!-- <div class="number-line-container"> 
        <h3>1</h3>
        <div class="line"></div>
      </div> -->

      <p class="bold"> Les accompagnements.</p>
      <p> Identifiez parmi les 2 types d'accompagnement celui qui vous convient le mieux.</p>
    </div>

    <div class="step">
      <!-- <h3>2</h3> -->
      <p class="bold">Faites une demande.</p>
      <p>Faites-nous part de votre projet en remplissant une demande
        sur notre plateforme.</p>
    </div>

    <div class="step">
      <!-- <h3>3</h3> -->
      <p class="bold"> Attendez notre retour.</p>
      <p>Nous analyserons vos informations et vous informerons sur la possibilité de financer votre projet.</p>
    </div>

  </div>
</div>






<!-- FIFTH VIEW -->
<div class="content grey">
  <br><br>  <br>
  <br>
  <h2> Tous types de travaux<br>   et tout public.</h2>
  <p> Particuliers comme professionels, nous vous accompagnons pour tous types de travaux <br>concernant votre logement.
  </p>
  <br>
  <div class="types-travaux">
    <p class="bold"> Menuiserie</p>
    <p class="bold"> Toiture</p>
    <p class="bold"> Électricité</p>
    <p class="bold"> Peinture</p>
  </div>
  <br>
  <div class="types-travaux">
    <p class="bold"> Sanitaire</p>
    <p class="bold"> Plomberie</p>
    <p class="bold"> Mise aux normes</p>
    <p class="bold"> Aménagement</p>
  </div>
</div>



<!--SIXTH VIEW-->
<div class="content gray">
  <div class="content-half">
    <img src="../../../assets/images/macbook.svg" style="width: 80%;margin-left:85px" />
  </div>
  <div class="content-half">
    <div class="plateforme">
      <h2> Notre plateforme de demande.</h2>
      <p> Dans le but d'accélérer la procédure, vous pouvez effectuer une demande d'accompagnement directement sur notre
        site vià notre plateforme de demande.</p>
      <div class="button color-10 ">
        <p>Accéder à la plateforme </p>
      </div>
    </div>
  </div>
</div>

<div class="content gray">
  <div class="questions">
    <div class="questions-text">
      <p class="bold"> Dois-je payer pour effectuer une demande ? </p>
      <p>
        Effectuer votre demande en ligne est totalement gratuit
        et cela ne vous prendra que quelques minutes.
      </p>
    </div>

    <div class="questions-text">
      <p class="bold"> Comment vais-je être contacté ? </p>
      <p>
        Une fois votre demande effectuée vous serez contacté
        dans moins de 48h par une instructrice directement par téléphone.
      </p>
    </div>

  </div>

  <br>
  <div class="questions">
    <div class="questions-text">
      <p class="bold"> Qui réalise les travaux ? </p>
      <p>
        Nous collaborons avec de nombreux artisans qui
        se chargeront de réaliser vos travaux avec soin dans les meilleurs délais.
      </p>
    </div>

    <div class="questions-text">
      <p class="bold"> Quand faire appel au Prisme ? </p>
      <p>
        Pour se faire accompagner et subventionner
        lors de réalisation des travaux conséquents dans son lieu de vie.
      </p>
    </div>
  </div>
</div>

















<div class="content black">
  <br><br><br>
  <div class="titreMaj">CHIFFRES-CLÉS</div>
 
  <h2>Pour résumé</h2>

  <div class="numbers-content">
    <div class="number">
      <h1>300</h1>
      <p>Foyers suivis en 2020.</p>
    </div>
    <div class="number">
      <h1>30</h1>
      <p>ans d'expérience.</p>
    </div>
    <div class="number">
      <h1>2</h1>
      <p> Certifications : <br> Handibat & Qualibat.</p>
    </div>
  </div>
  <br><br>
<div class="keys-button">
  <div class="button color-9 ">
    <p>Plus d'informations ?</p>
  </div>
</div>

</div>




<div class="content black">
 <br><br>
<h2> Ils nous font confiance.</h2>
<p>Nos partenaires nous font confiance depuis des années <br> et ce n'est pas pour rien. </p>



</div>