
<div class="content card">
    <div class="first2">
        <img src="../../../../assets/svg/anah-logo.svg"/>
    
    </div>
    <div class="first">
        <h1>Rénovez votre logement </h1>
        <h4> Besoin de faire des travaux conséquents ? </h4>
            <div> Selon vos conditions de ressources, vous pouvez avoir droit à des aides de l’état, de nos différents partenaires ou de votre commune pour renover votre logement.<br><br>
                 Vous pouvez bénéficier de subventions permettant de couvrir 95 % des frais associés à votre projet. </div>
               <div style="width:100%; text-align: center; margin-top: 10vw;"> 
                <div class="button" (click)="navigateTo()">
                    <h2 style="text-align: center;margin: auto;font-size: 1.2vw;">Faire une demande </h2>
                </div>
            </div>
            </div>
</div>