<div style="display: inline-block;vertical-align: middle;margin-left: 1vw;">
    <img src="../../../assets/svg/back.svg" style="width:1vw"/>
</div>
<h3 style="display: inline-block;vertical-align: middle;margin-left: 1.5vw;color:#0465B2">
    Retour
</h3>

<div class="content">
    <div class="first">
        <h1>Rénovez votre logement avec le dispositif</h1>
        <h4> Besoin de faire des travaux ? </h4>
            <div> Selon vos conditions de ressources, vous pouvez avoir droit à une Aide de l’Etat, de la CTM, de votre Caisse de Retraite ,de la 
                Caf, de votre Mutuelle, de votre Commune…..Vous pouvez bénéficier jusqu’à 95 % de subventions pour renover votre logement</div>
       </div>
    <div class="first">
        <div style="width: 50%;display: inline-block;">
            <img src="../../../assets/svg/avant.svg"/>
        </div>
        <div style="width: 50%;display: inline-block;">
            <img src="../../../assets/svg/apres.svg"/>
        </div>
        <div class="button">
            <h2 style="text-align: center;margin: auto;font-size: 1.2vw;">Tester son éligibilité </h2>
        </div>
    </div>
</div>