


<div style="width:100%;vertical-align: text-top;text-align: center;">
  <h1 style="color:black"> Bienvenue, <br> <span style="color:#377EFA;"> sur notre espace de demande.</span></h1>
  <br><br>
  Pour effectuer une demande d'accompagnement et de subventions, 
  remplissez les informations demandées dans les différentes étapes du formulaire ci dessous.

  Celles ci concerne les travaux que vous souhaitez effectués ainsi que votre foyer.
  Cela nous permet de vous monter un dossier afin que vous obteniez des subventions.
  
  
</div>






<br><br><br>


<div class="stepper_content" style="border-top: solid 1px rgb(187, 186, 186);">
<br><br><br><br><br><br>
<mat-horizontal-stepper #stepper (selectionChange)="selectionChange($event)" >
  <!-- [linear]="linear"-->
  
    <mat-step label="Votre identité" >
    <br>
      <h1 style="width:fit-content;font-size: 160%;">{{title}} &nbsp;&nbsp;<i class="fa fa-id-card-o" aria-hidden="true"></i></h1>
    <app-identite></app-identite>
 
    </mat-step>
  
    <mat-step label=" Vos coordonnées">
      <br>
      <h1 style="width:fit-content;font-size: 160%;">{{title}} &nbsp;<i class="fa fa-globe" aria-hidden="true"></i></h1>
      <app-coordonnes></app-coordonnes>
    </mat-step>
  
    <mat-step label="Votre foyer">
      <br>
      <h1 style="width:fit-content;font-size: 160%;">{{title}} &nbsp; <i class="fa fa-home" aria-hidden="true"></i></h1>
      <app-foyer></app-foyer>
    </mat-step>

    <mat-step label="Situation fiscale">  
      <br>
      <h1 style="width:fit-content;font-size: 160%;">{{title}} &nbsp;<i class="fa fa-user" aria-hidden="true"></i></h1>
      <app-statut></app-statut>
      </mat-step>

      <mat-step label="Votre statut">  
        <br>
        <h1 style="width:fit-content;font-size: 160%;">{{title}} &nbsp;<i class="fa fa-user" aria-hidden="true"></i></h1>
        <app-revenus></app-revenus>
        </mat-step>

        <mat-step label="Votre projet">  
          <br>
          <h1 style="width:fit-content;font-size: 160%;">{{title}} &nbsp;<i class="fa fa-cogs" aria-hidden="true"></i></h1>
          <app-projet></app-projet>
          </mat-step>
    
</mat-horizontal-stepper>
</div>

<br><br><br>
<br><br><br>
<br><br><br>


<div style="border-bottom: solid 1px rgb(187, 186, 186);"> </div>

<br><br><br>
<h4 style="text-align:center" class="navbar_title"><i class="fa fa-check-circle" aria-hidden="true"></i> Le Prisme.fr</h4>