@import '../../styles.scss';

:host {
    ::ng-deep div {
        overflow: visible;
    }
    .stepper_content {
    //   width: fit-content;
        margin: auto;
        margin-top:2vw;
        width: 95%;
    }
    ::ng-deep .mat-form-field {
        width: 30vw;
    }
    .navbar_title {
        font-weight: 500;
        color:$blueprisme;
        font-size: 200%;
        width: fit-content;
        margin: auto;
      }
      .title {
        font-weight: 900;
        color:$blueprisme;
        font-size: 120%;
        margin-left:2vw;
        margin-top:1vw;
        cursor: pointer;
      }
      .title:hover {
       
      }
      h1 {
        margin:auto; 
        margin-top: 1vw;  
        margin-bottom: 1vw;
 

      }
}

::ng-deep .mat-horizontal-stepper-header{
  //pointer-events: none !important;
}