
  <div class="title" (click)="goback()"> Le Prisme </div>  <div  class="navbar_title"> Faire une demande </div>
<div class="stepper_content">

<mat-horizontal-stepper (selectionChange)="selectionChange($event)">
  
    <mat-step label="Votre identité" >
      <h1 style="width:fit-content;">{{title}} &nbsp;&nbsp;<i class="fa fa-id-card-o" aria-hidden="true"></i></h1>
    <app-identite></app-identite>
    </mat-step>
  
    <mat-step label=" Vos coordonnées">
      <h1 style="width:fit-content;">{{title}} &nbsp;<i class="fa fa-globe" aria-hidden="true"></i></h1>
      <app-coordonnes></app-coordonnes>
    </mat-step>
  
    <mat-step label="Votre foyer">
      <h1 style="width:fit-content;">{{title}} &nbsp; <i class="fa fa-home" aria-hidden="true"></i></h1>
      <app-foyer></app-foyer>
    </mat-step>

    <mat-step label="Situation fiscale">  
      <h1 style="width:fit-content;">{{title}} &nbsp;<i class="fa fa-user" aria-hidden="true"></i></h1>
      <app-statut></app-statut>
      </mat-step>

      <mat-step label="Votre statut">  
        <h1 style="width:fit-content;">{{title}} &nbsp;<i class="fa fa-user" aria-hidden="true"></i></h1>
        <app-revenus></app-revenus>
        </mat-step>

        <mat-step label="Votre projet">  
          <h1 style="width:fit-content;">{{title}} &nbsp;<i class="fa fa-user" aria-hidden="true"></i></h1>
          <app-projet></app-projet>
          </mat-step>
    
</mat-horizontal-stepper>
</div>

<!--mat-horizontal-stepper mat-vertical-stepper-->