@import '../../styles.scss';
:host {

  .text {
    margin-top: -30px;
  }

  .content {
    display: flex;
    align-items: center;
  }

  .text-block {
    width: fit-content;
    margin: auto;
    text-align: center;
  }

  .button-container {
    padding-top: 30px;
    text-align: center;
  }

  .content {
    height: calc(65vh);
  }

  ::ng-deep div {
    overflow: visible;
  }

  ::ng-deep .mat-form-field {
    width: 500px;
    height: 85px;

  }
::ng-deep .mat-horizontal-stepper-header{
  //pointer-events: none !important;
}
::ng-deep .mat-horizontal-stepper-header-container {
 display: none !important;
}


::ng-deep .mat-input-element::placeholder {
  color: white;
}

::ng-deep .mat-form-field-outline {
  color: white;
  border-radius: 4px;
}

::ng-deep i {
  font-size: 25px;
}

 @media only screen and (max-width: 500px) {
   ::ng-deep .mat-form-field {
     width: 300px;
   }

   .content {
     height: calc(55vh);
   }

   ::ng-deep .button {
     width: 140px;
   }

   .start {
     height: calc(80vh);
   }
 }
 
}