@import '../../styles.scss';

:host {
    ::ng-deep div {
        overflow: visible;
    }
    .stepper_content {
        margin: auto;
        width: 100%;
        height: 600px;
    }
    ::ng-deep .mat-form-field {
        width: 30vw;
    }
    .navbar_title {
        font-weight: 500;
        color:$blueprisme;
        font-size: 200%;
        width: fit-content;
        margin: auto;
      }
      .title {
        font-weight: 900;
        color:$blueprisme;
        font-size: 120%;
        margin-left:2vw;
        margin-top:1vw;
        cursor: pointer;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      .title:hover {
       
      }
      h1 {
        margin:auto; 
        margin-top: 1vw;  
        margin-bottom: 1vw;
        color:black;
      }
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

::ng-deep h1 {
  color : #5780FA;
 font-weight: 300;
}

::ng-deep i {
  color : #335EEA;
}

.navbar_title {
  width: 15vw; 
  height: 2.2vw;
  margin-top: 1.5vw;
  color:$blueprisme;
  font-size: 150%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
i {
  animation: 3s linear blink_effectt;
}
