<div class="content start" *ngIf="start">
  <div class="text-block">
    <br>
    <h1 class="center ">Espace de demande </h1>
    <br *ngIf="mobile"> <br *ngIf="mobile"> <br *ngIf="mobile"> <br *ngIf="mobile">
    <p class="center text">
      Bienvenue sur notre espace de demande en ligne. Remplissez <br *ngIf="!mobile">  les informations  du formulaire afin d'être accompagner pour
      rénover, réparer ou adapter <br *ngIf="!mobile"> votre logement et bénéficier de subventions. </p>
      <br *ngIf="mobile">  <br *ngIf="mobile">
    <div class="button-container">
      <div class="button button-page" (click)="start=false" style="width:230px">
        <h4>Faire une demande</h4>
      </div>
    </div>
  </div>
</div>

<div class="content"  *ngIf="!start">
  <div class="text-block">
    <mat-horizontal-stepper #stepper (selectionChange)="selectionChange($event)">

   <mat-step label="Votre identité">
    <br> <br>
      <app-identite></app-identite>
  </mat-step>

     <mat-step label="Vos coordonnes">
      <br> <br>
        <app-coordonnes></app-coordonnes>
      </mat-step>

      <mat-step label="Votre identité">
        <br> <br>
       
        <app-foyer></app-foyer>
      </mat-step>

      <mat-step label="Votre identité">
        <br> <br>
        <app-statut></app-statut>
      </mat-step>

      <mat-step label="Votre identité">
        <br> <br>
        <app-revenus></app-revenus>
      </mat-step>

      <mat-step label="Votre identité"> 
        <br> <br>
        <app-projet></app-projet>
      </mat-step>

    </mat-horizontal-stepper>
  </div>
 
</div>
