<h2 class="center"> Votre identité</h2>
<mat-form-field appearance="outline">
    <mat-label>Nom</mat-label>
    <input required matInput type="text" [(ngModel)]="nom" [formControl]="nomControl" (keyup.enter)="validateAnswers()">
</mat-form-field>
<br>
<mat-form-field appearance="outline">
    <mat-label>Prénom </mat-label>
    <input required matInput type="text" [(ngModel)]="prenom" [formControl]="prenomControl"
        (keyup.enter)="validateAnswers()">
</mat-form-field>
<br>
<mat-form-field appearance="outline">
    <mat-label>Date de naissance </mat-label>
    <input required matInput type="text" [(ngModel)]="birthdate" [formControl]="birthControl" placeholder="JJ/MM/AAAA"
       (keyup.enter)="validateAnswers()">
</mat-form-field>
<br>
<div class="center">
    <div class="button button-page" (click)="validateAnswers()">
        <h4> Valider </h4>
    </div>
</div>