@import '../../../../styles.scss';

.avantages {
    display: inline-block;
    width: 55%;
    vertical-align: top;
}
.avantages2 {
    display: inline-block;
text-align: center;
    vertical-align: top;
}
.avantage-img {
    margin: 3vw;
    margin-left: 7vw;
    margin-right: 7vw;
}
.avantage-block {
    margin: 1vw;
    display: inline-block;
    width: 30%;
    vertical-align: top;
}
.button-container {
    display: flex;
    justify-content: space-around;
    
}

h4 {
    margin-bottom: 20px;
    font-weight: 600;
}
.text {

}
@media only screen and (max-width: 500px) {
    .avantage-block {
        margin: 1vw;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }

}



