@import '../../../../styles.scss';

.avantages {
    display: inline-block;
    width: 60%;
    vertical-align: top;
}
.avantages2 {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}
.avantage-img {
    margin: 3vw;
    margin-left: 7vw;
    margin-right: 7vw;
}
.avantage-block {
    margin: 1vw;
}
.avantages-content { 
    margin-top: 4vw;
    margin-bottom: 4vw;
    margin-right: 2vw;
}
.button-purple {
    background-color:#8A6DCC;
    width: 35%;
    text-align: center;
    margin-bottom: 2vw;
}
.button-container {
    display: flex;
    justify-content: space-around;
    
}
.firstblock {
    margin-top:2vw;
}
h4 {
    color: $blueprisme;
    margin-bottom: 0.5vw;
}