<div class="avantages-content">
    <div style="width: 100%;text-align: center;"> 
        <h1  style="color: #0558a0;">Quels sont <span style="font-weight: 600;color:#377EFA"> les avantages</span> d'un Assistant à la Maîtrise d'Ouvrage  ?</h1>
    </div>
    <div class="avantages">
        <img class="avantage-img" src="../../../../assets/svg/avantages-image.svg" />

    </div>

    <div class="avantages2">
      
        <div class="avantage-block firstblock">
            <h4 >Un accompagnement personnalisé</h4>
            <div>Nous nous chargeons de monter votre dossier et de vous trouver des financements</div>
        </div>
        <div class="avantage-block">
            <h4>Des artisans fiables et compétents</h4>
            <div>Grâce à nos 30 ans d’expérience dans la rénovation,nous prennons plaisir à vous trouver les meilleurs artisans.</div>
        </div>
        <div class="avantage-block">
            <h4>Des équipes réactives et joignables</h4>
            <div>Nos collaborateurs sont à votre disposition pour vous tenir informé de l'avancée de votre chantier.</div>
        </div>
    </div>
</div>