.avantages {
    display: inline-block;
    width: 65%;
    vertical-align: top;
}
.avantages2 {
    display: inline-block;
    width: 35%;
    vertical-align: top;
}
.avantage-img {
    margin: 8vw;
}
.avantage-block {
    margin: 4vw;
}