
/* MATERIAL DESIGN */
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$LePrismeWeb-primary: mat-palette($mat-indigo);
$LePrismeWeb-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$LePrismeWeb-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$LePrismeWeb-theme: mat-light-theme((
  color: (
    primary: $LePrismeWeb-primary,
    accent: $LePrismeWeb-accent,
    warn: $LePrismeWeb-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($LePrismeWeb-theme);

/*LE PRISME WEB */

body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  color:white;
}

h1 {
  font-size: 65px;
  font-weight: 400;
}

h2 {
  font-weight: 500;
  font-size: 43px;
  margin-top: 0px;
}

h3 {
  font-size: 22px;
  font-weight: 500;
}
p {
  font-size: 18px;
  line-height: 35px;
}
.button p{
  line-height: normal;
}

.content {
  height: calc(100vh);
  text-align: center;
}

.interview {
  height: calc(50vh);
}

.content-half {
  width: 50%;
  display: inline-block;
  text-align: start;
}

.text {
 width: 70%;
 margin: auto;
 margin-top: 10%;
}
 
.titreMaj {

}

.content.black {
  background-color: #161C2D;
}

.content.grey {
  background-color: #F1F4F8;
  h2,h3,p {
    color: #161C2D;
  }
  .titreMaj {
    color:#161C2D;
  }
}
.interview.black {
  background-color: #161C2D;
}















//BUTTONS
.button {
  width: 300px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.button:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.button:focus {
  outline: none;
}

.button.color-9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.button.color-10 {
  background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
