/* MATERIAL DESIGN */
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$LePrismeWeb-primary: mat-palette($mat-indigo);
$LePrismeWeb-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$LePrismeWeb-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$LePrismeWeb-theme: mat-light-theme((color: (primary: $LePrismeWeb-primary,
        accent: $LePrismeWeb-accent,
        warn: $LePrismeWeb-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($LePrismeWeb-theme);

/*LE PRISME WEB */

body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  color: white;
}




h1 {
  font-size: 65px;
  font-weight: 400;
}

h2 {
  font-weight: 500;
  font-size: 43px;
  margin-top: 0px;
}

h3 {
  font-size: 22px;
  font-weight: 500;
}

p {
  font-size: 18px;
  line-height: 35px;
}

.button p {
  line-height: normal;
  color: white;
}

.content {
  height: calc(100vh);
  text-align: center;
}

.interview {
  height: calc(50vh);
}

.content-half {
  width: 50%;
  display: inline-block;
  text-align: start;
}

.content-split6 {
  width: 60%;
  display: inline-block;
  text-align: start;
  vertical-align: middle;
}

.content-split4 {
  width: 40%;
  display: inline-block;
  text-align: start;
  vertical-align: middle;
}

.text {
  width: 70%;
  margin: auto;
  margin-top: 10%;
}

.titreMaj {}

.biggi {
  height:calc(80vh)
}
.biggig {
  height:calc(155vh);
}
//big screen
@media only screen and (min-width: 1300px) {
  .content {
   max-height: 600px;
   padding-left: 5vw;
   padding-right: 5vw;
  }
  .biggig{
    height: calc(170vh);
    padding-bottom: 240px;
    padding-top: 40px;
  }
}


.content.black {
  background-color: #161C2D;
}

.content.grey {
  background-color: #F8FAFD;   

  h1,
  h2,
  h3,
  p {
    color: #161C2D;
  }

  h1,
  h2 {
    background: -webkit-linear-gradient(#161C2D, #012371);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }

  .titreMaj {
    color: #161C2D;
  }
}

.content.gray {
  background-color: #edeff1;
  color: #161C2D;
  h1,
  h2 {
    background: -webkit-linear-gradient(#161C2D, #012371);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.content.white {
  background-color: white;
  color: #161C2D;
}

.content.purple {
  background-color: #1F1C4D;
}

.interview.black {
  background-color: #161C2D;
}

.bold {
  font-weight: bold;
}
.boldgradiant {
  background: -webkit-linear-gradient(#161C2D, #012371);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.line {
  height: 0.1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.242);
}

.lineb {
  height: 0.4px;
  width: 90%;
  margin: auto;
  background-color: #161c2d2d;
}

.card {
  box-shadow: 0px 40px 50px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}







//BUTTONS
.button {
  width: 300px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.button:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.button:focus {
  outline: none;
}

.button.color-9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.button.color-10 {
  background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}



//NEW CLASS

.center {
  display: flex;align-items: center;
  h1 {
    font-size:55px;font-weight:600;margin: auto;
  }
}
.centre {
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-top: 17%;
  i {
    font-size: 35px;
    margin-top: 22.17%;
    cursor: pointer;
  }
}


.gradiant1 {
  background:linear-gradient(#161C2D,#011543);
}
.graygrad{
  background:linear-gradient(#F8FAFD,#EDEFF1);
}
.gradiant-1 {
  background:linear-gradient(#011543,#161C2D);
}
.gradiant2 {
  background:linear-gradient(#011543,#021541);
}
.gradiant3 {
  background:linear-gradient(#021541,#03194e);
}
.gradiant4 {
  background:linear-gradient(#03194e,#03194e);
}
.gradiant5 {
  background:linear-gradient(#03194e,#041130);
}
.gradiant-5 {
  background:linear-gradient(#041130,#161C2D);
}


.glowtxt {
  text-shadow: 0 0 10px #fff;
}

//big screen
@media only screen and (min-width: 1600px) {
  .content {
   max-height: 600px;
   padding-left: 8vw;
   padding-right: 12vw;
  }
  .big {
    padding-left: 14%;
  }
  .bigo {
    padding-left: 17%;
  }
  .biggi {
    height: calc(35vh);
  }
  .biggig{
    height: calc(170vh);
    padding-bottom: 260px;
    padding-top: 60px;
  }
  .bigplat {
    max-height: none;
    height:47.3vw;
  }
}



@media only screen and (max-width: 600px) {

  .button {
      height: 37px;
      margin:5px;
     p {
      font-size: 12px;
     }
  }
}