<div class="services-content">
    <div class="bluerectangle">
        <h2>Adapter <br>votre domicile à vos besoins !</h2>
        <div class="aah-illustration">
            <img src="../../../../assets/svg/aah-illustration.svg"/>
        </div>
    </div>
    <div style="display: inline-block;overflow: visible;">
        <div class="lightbluerectangle">
            <h3 style="color:white;margin-left:2vw;margin-top:2vw;"> Bénéficier <br> d'aide afin de rénover <br> votre logement</h3>
            <div style="width: 60%;position: relative;z-index: 200;margin-left:8vw;">
                <img src="../../../../assets/svg/anah-logo.svg"/>
            </div>
        </div>
        <div class="orangerectangle">
            <h3 style="color:white;margin-left:2vw;margin-top:2vw;"> Faites appel <br> à votre DJO pour tous  <br> vos petit travaux</h3>
            <div style="width: 50%;position: relative;z-index: 200;margin-left:10vw">
                <img src="../../../../assets/svg/hellodjo-logo.svg"/>
            </div>
        </div>
    </div>
</div>