<div class="first">
    <h1> Deux programmes d'accompagnements <br> en lien avec deux types d'aides.</h1>
    <br>
    <div class="firsttext"> En fonction des travaux que vous souhaités effectués dans votre logement, nous proposons deux types
        d'accompagnement en lien avec les deux types aides ci dessous.</div>
        <br><br><br><br><br>
        <i class="fa fa-arrow-down" aria-hidden="true" style="font-size:40px;color:#335EEA;cursor: pointer;"></i>
</div>


<br><br><br>


<div class="content">
    <div class="text">
        <h1>L'aide à la <span class="bold">rénovation</span> <br>
            du logement.</h1>
        <div>
            Besoin de faire des travaux conséquents afin de rénover son logement ?<br><br>
            Vous pouvez avoir droit à des subventions de l’état, de nos différents
            partenaires ou de votre commune, pouvant couvrir jusqu'à 95 % des frais associés à votre projet.
            <br><br>
        </div>
    </div>
</div>
<div class="content">

</div>

<br><br><br><br><br>


<div class="content">

</div>
<div class="content">
    <div class="text">
        <h1>L'aide à <span class="bold">l'aménagement</span> <br>du logement.</h1>
        <div>
            Aménager et adapter son logement en cas de mobilité réduite constitue une véritable priorité pour notre
            entreprise.
            <br>Nous sommes le premier AMO à proposer un accompagnement au coeur de l'accessibilité.
            Il s’agit de permettre le maintien de l’autonomie et d’améliorer
            la sécurité par l’aménagement de l’espace de vie.
            <br><br>
            Vous pouvez également bénéficier de subventions selons vos conditions de ressources.
        </div>
    </div>
</div>


<br><br><br><br><br><br>
<div style="border-bottom: solid 1px rgb(187, 186, 186);"> </div><br>
<div style="text-align:center">

    <h1 style="color:#377EFA">Voilà, vous savez tout ! </h1>
    <br>
    Vous avez besoin de bénéficier de l'un des programme d'aide expliqués plus haut ? <br>
    Il ne vous reste plus qu'à faire une demande sur notre plateforme afin que l'on vous accompagne dans votre projet.


</div>
<br><br>
<div style="text-align:center">
    <div class="button" style="width:200px;background-color:#335EEA;">
        <h4 style="text-align: center;width: 100%;margin:auto;font-size: 17px;">Faire une demande </h4>
    </div>
</div>