<div class="services-content">
    <h1 style="margin-bottom: 2vw;font-weight: 500;font-size: 200%;">  Découvrez nos  différents services ! </h1>
    <div class="bluerectangle" (click)="navigateTo('aah')">
        <h2>Adapter <br>votre domicile à vos besoins !</h2>
        <div class="aah-illustration">
            <img src="../../../../assets/svg/aah-illustration.svg"/>
        </div>
    </div>
    <div style="display: inline-block;overflow: visible;margin-top: -1.2vw;">
        <div class="lightbluerectangle"  (click)="navigateTo('renovation')">
            <h3 style="color:white;margin-left:1vw;"> <br>Bénéficier <br> d'aides afin de rénover <br> votre logement</h3>
            <div style="width: 60%;position: relative;z-index: 300;margin-left:8.8vw;margin-top: -4.9vw;">
                <img src="../../../../assets/svg/anah-logo.svg"/>
            </div>
        </div>
        <div class="orangerectangle" (click)="navigateTo('hellodjo')">
            <h3 style="color:white;margin-left:1vw;margin-top:2vw;"> <br>Faites appel <br> à votre DJO pour tous  <br> vos petit travaux</h3>
            <div style="width: 45%;position: relative;z-index: 300;margin-left:11vw;margin-top: -7vw;">
                <img src="../../../../assets/svg/hellodjo-logo.svg"/>
            </div>
        </div>
    </div>
    
</div>