.bluerectangle {
    height:26vw;
    width: 35vw;
    display: inline-block;
    vertical-align: top;
    background-color: #CCE0FE;
}
.lightbluerectangle {
    height: 12vw;
    width: 22vw;
    vertical-align: top;
    background-color: #01396A;
    margin-left:1vw;
    margin-bottom:2vw;
}
.orangerectangle {
    height: 12vw;
    width: 22vw;
    background-color: #FF8B1F;
    margin-left:1vw;
}
.services-content {
    text-align: center;
    margin:7vw;
}
.bluerectangle:hover,.lightbluerectangle:hover,.orangerectangle:hover {
    opacity: 0.8;
    cursor: pointer;
}
.aah-illustration {
    width: 15vw;
    margin:auto;
}