.content {
    width: 49%;
    display: inline-block;
}

h1 {
    font-size: 33px;
    color: black;
}

.text {
    width: 80%;
    margin: auto;
}

.first {
    text-align: center;
}
.firsttext {
    width: 60%;
    margin: auto;
    text-align: center;
}

i {
    animation: 3s linear blink_effectt;
}

.bitou {
    text-align: center;width: 100%;margin:auto;font-size: 15px;
}


@media only screen and (max-width: 500px) {
.firsttext {
    width: 100%;
}
.text {
    width: 100%;
}
.content {
    width: 100%;
}


}