<div class="content black" [ngClass]="iscontact()">
    <div class="line">
    <div class="footer-content">
        <div class="footer-element" style="margin-right:40px">
            <p class="bold" style="font-weight:600;font-size: 25px;margin-bottom: 0px;margin-top:18px"> Le Prisme</p>
            <p> Assistant à maîtrise d'ouvrage.</p>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            &nbsp;&nbsp;
            <i class="fa fa-facebook-official" aria-hidden="true"></i>

        </div>
        <div class="footer-element">
            <p class="bold"> SERVICES</p>
            <p> Rénovation du logement</p>
            <p> Accessibilité du logement</p>
        </div>
        <div class="footer-element">
            <p class="bold"> CONTACTS </p>
            <p>0596 56 37 59</p>
            <p>contact@leprisme.fr</p>
        </div>
        <div class="footer-element">
            <p class="bold"> MENTIONS LEGALES</p>
            <p>Politique RGPD</p>
            <p> Plan du site</p>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <div class="footer-bottomtext"> 
        <p>LePrisme.fr</p>
    </div>
</div>
