<div class="content black">
    <div class="line">
    <div class="footer-content">
        <div class="footer-element">
            <p> LE PRISME</p>
            <p> L'assistant à maîtrise d'ouvrage.</p>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            &nbsp;&nbsp;
            <i class="fa fa-facebook-official" aria-hidden="true"></i>

        </div>
        <div class="footer-element">
            <p> SERVICES</p>
            <p> Rénovation du logement</p>
            <p> Accessibilité du logement</p>
        </div>
        <div class="footer-element">
            <p> CONTACT </p>
            <p>0596 56 37 59</p>
            <p>contact@leprisme.fr</p>
        </div>
        <div class="footer-element">
            <p> MENTIONS LEGALES</p>
            <p>Plan du site</p>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <div class="footer-bottomtext"> 
        <p>LePrisme.fr</p>
    </div>
</div>
