.content {
    width: fit-content;
    margin: auto;
    text-align: center;
    height: 15vw;
}

.buttvalid {
    text-align: center;
    width: 25%;
    margin: auto;
}

:host {
    @media only screen and (max-width: 500px) {
        mat-form-field {
            width: 250px;
        }

        .button {
            height: 50px;
        }
        .buttvalid {
            width: 40%;
        }
    }
}


.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #335EEA;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   font-size: 15px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }