<div class="content">
    <h1 style="font-weight: 300;"> Quel est votre revenu fiscal de référence ?</h1>    
    <div style="text-align: center;"> 
        <mat-form-field appearance="outline" >
            <mat-label>Revenu fiscal</mat-label>
            <input matInput type="text">
        </mat-form-field>
    </div>

    <h1 style="font-weight: 300;"> Quel est votre nombre de part ?</h1>    
    <div style="text-align: center;"> 
        <mat-form-field appearance="outline" >
            <mat-label>Nombre de part </mat-label>
            <input matInput type="text">
        </mat-form-field>
    </div>
    <div style="text-align: center;"> <div class="button">      <h2 style="margin: auto;font-size: 1.2vw;   font-family:'Open Sans', sans-serif;">  Valider </h2> </div></div>
</div>