<div class="presentation">
    <div class="definition-image">
        <img style="width: 35%;position: relative;z-index: 200;margin-left: 40%;margin-top: 10%;"
            src="../../../../assets/svg/introduction-image.svg" />

        <img style="width: 70%;position: relative;z-index: 100;margin-top: -45%;" class="imgback"
            src="../../../../assets/svg/introduction-image2.svg" />
    </div>
</div>
<div class="presentation">
    <div class="definition-text">
        <h1>Le Prisme, <span style="font-weight: 600;color: #377EFA;">Assistant</span> à <span style="font-weight: 600;color: #377EFA;">Maitrise</span> <br>d' <span style="font-weight: 600;color: #377EFA;">Ouvrage</span> en Martinique</h1>
        Notre principal objectif est d’accompagner tout
        propriétaire désirant rénover, réparer ou adapter son logement.
        <br><br>
        Dans le cadre d'<span class="bold">A</span>ssistance à <span class="bold">M</span>aîtrise d’<span class="bold">O</span>uvrage déléguée,
        nous vous aidons à définir votre projet et vous accompagnons dans sa réalisation en suivant l'avancement des travaux.
        <!-- <div class="button-container">
            <div class="button button-purple" (click)="navigateTo('services')">
                <h2 style="margin: auto;font-size: 1.2vw;"> Consulter nos services </h2>
            </div>
        </div> -->
    </div>