
<div class="presentation">
    <div class="definition-text">
        <h1>  <span style="color:#74BD5A">A</span>ssistant<span> à <span style="color:#74BD5A">M</span>aitrise d'<span style="color:#74BD5A">O</span>uvrage.</span></h1>
        <br>
        Notre objectif est d’accompagner tout propriétaire désirant rénover, réparer ou adapter son logement en lui permettant de bénéficier de subventions.
        <br><br>
        L'accompagnement consiste à vous aider à définir et commencer votre projet ainsi qu'à suivre l'avancement des travaux. Nous prenons en charge toutes les démarches administratives expliquées dans la section suivante.
        <br><br>
        <div style="width: 50%;display: inline-block;"> <i class="fa fa-check-circle" aria-hidden="true" style="color:#53ac3c"></i> <span style="font-weight: 600;"> Rénovation  </span>  </div>

        <div style="width: 50%;display: inline-block;"> <i class="fa fa-check-circle" aria-hidden="true"  style="color:#53ac3c"></i>  <span style="font-weight: 600;"> Réparations  </span> </div>
        <br>  <br>
        <div style="width: 50%;display: inline-block;"> <i class="fa fa-check-circle" aria-hidden="true"  style="color:#53ac3c"></i>  <span style="font-weight: 600;"> Adapter son logement  </span> </div>

        <div style="width: 50%;display: inline-block;"> <i class="fa fa-check-circle" aria-hidden="true"  style="color:#53ac3c"></i>  <span style="font-weight: 600;"> Bénéficier de subventions  </span> </div>
    </div>

</div>
<div class="presentation">
  <img style="width: 90%;" src="../../../../assets/images/amo1.jpg"/>
</div>
<br><br><br><br><br><br>

<div style="border-bottom: solid 1px rgb(187, 186, 186);"> </div><br><br><br>

<div class="presentation" style="width: 100%;">

  
    <div style="text-align: center;width: 80%;margin: auto;"> 
        <h1> En quoi consiste l'<span style="color:#335EEA;">accompagnement ?</span>  </h1>
        
        <br>
        Afin d'avoir droit à des subventions en tant que propriétaire bailleur ou propriétaire
        occupant pour vos travaux, vous avez pour obligation de vous
        faire accompagner par un Assistant à Maitrise d'Ouvrage. Une fois votre demande effectuée sur notre plateforme, nous nous chargeons de : 
    </div>
</div>

<br><br><br><br>
<div style="display:flex; justify-content: space-between;width: 100%;text-align: center;" *ngIf="!mobile">
<div style="margin-right: 50px;">
    <i class="fa fa-folder-open-o" aria-hidden="true" style="font-size:40px;color:#377EFA;margin: auto;"></i>
    <h4 >Réaliser une étude de l’éligibilité aux dispositifs d’aides </h4>
  

</div>



<div style="margin-right: 50px;" >
    <i class="fa fa-check" aria-hidden="true" style="font-size:40px;color:#377EFA"></i>
    <h4  >
    Concevoir et chiffrer avec un Bureau d’Etudes Techniques le projet de rénovation 
    </h4>
</div>




<div style="margin-right: 50px;" >
    <i class="fa fa-search" aria-hidden="true" style="font-size:40px;color:#377EFA"></i>
    <h4  >Etablir un plan de financement et sélectionner les entreprises pour la réalisation du projet  </h4>


</div>



<div>
    <i class="fa fa-eye" aria-hidden="true" style="font-size:40px;color:#377EFA"></i>
    <h4 >
    Réaliser le suivi des travaux jusqu'à leurs livraisons
 </h4>
</div>


</div>




<div *ngIf="!mobile">
    


<br><br><br><br><br>
<div style="border-bottom: solid 1px rgb(187, 186, 186);"> </div><br>
<div style="text-align:center">

<h1 style="color:#335EEA;">Pourquoi nous choisir ? </h1>
<br>
Le Prisme, c'est 30 ans d'expérience dans la construction et la rénovation. Avant d'être AMO, nous étions Maitre d'Oeuvre ce qui nous permet de bénéficier d'un réseau d'artisans compétents qui assureront la bonne réalisation de vos travaux.
<br><br> Nous sommes agréés par l'Etat depuis 2010 par les certifications Handibat et Qualibat.
</div>
<br><br>
<div style="text-align:center"> 
<div class="button bitt" (click)="navigateTo('services')"><h4 class="bibit">Voir nos services</h4></div>
</div>

</div>


<!-- MOBILE -->

<div style="width: 100%;text-align: center;" *ngIf="mobile">
    <div>
        <i class="fa fa-folder-open-o" aria-hidden="true" style="font-size:40px;color:#377EFA"></i>
        <h4 > Monter votre dossier </h4>
        Nous réunissons toutes les informations que vous nous avez fournies afin de monter votre dossier et évaluer le
        montant des travaux.
    
    </div>
    
    <br><br>
    
    <div  >
        <i class="fa fa-check" aria-hidden="true" style="font-size:40px;color:#377EFA"></i>
        <h4  >Faire valider les financements </h4>
        Nous faisons appels à nos différents partenaires ainsi qu'aux différents programmes de l'État afin de vous trouvez
        les meilleurs financements possibles et de les faire valider par les services concernées.
    
    </div>
    
    
    
    <br><br>
    <div  >
        <i class="fa fa-search" aria-hidden="true" style="font-size:40px;color:#377EFA"></i>
        <h4  >Rechercher un maitre d'oeuvre </h4>
        Une fois votre dossier validé auprès de l'Etat, ainsi que par vous même, nous recherchons un maitre d'oeuvre qui
        s'occupera de la réalisation des travaux puis nous vous contactons pour démarrer ces derniers.
    
    </div>
    
    <br><br>
    <div>
        <i class="fa fa-eye" aria-hidden="true" style="font-size:40px;color:#377EFA"></i>
        <h4 >Suivre les travaux </h4>
        Nous assurons la bonne réalisation des travaux jusqu'à leurs livraisons. Nous restons disponibles pour vous tenir
        informés ainsi que pour toutes autres démarches administratives expliquées ci-dessous.
    
    </div>
    
    </div>

