@import '../../../../styles.scss';

h1 {
    padding-bottom: 0px;
    padding-top: -1vw;
    font-weight: 500;
}
.presentation {
    width: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.definition-text {
    text-align: start;
}
.definition-image {
    width: 100%;
    margin: auto;
    display: inline-block;
}
.imgback{
    animation: 1s linear imgback-effect;
}
.button-purple {
    background-color:#377EFA;
    width: 50%;
    text-align: center;
    margin-bottom: 3vw;
    height:4vw;
    margin-top:2vw;
}
.button-container {
    margin-top:6vw;
    width: 100%;
    text-align: center;
}
.bold {
    font-weight: 900;

}
.bitt {
    width:200px;background-color:#335EEA;
}
.bibit {
    text-align: center;width: 100%;margin:auto;font-size: 15px;
}

h4 {
    margin-bottom: 10px;
   font-weight: 600;
}
@media only screen and (max-width: 500px) {
    .presentation {
        width: 100%;
    }

}